<div class="topo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <div class="topo dt pd-60-left no-border">
          <div class="dt-c">
            <div class="nome-usuario">{{usuario.pais == 1 ? 'Questions' : 'Dúvidas frequentes'}} <strong>{{duvidas.length}}</strong></div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-xs-12">
        <div class="topo dt pd-60-right no-border text-right">
          <div class="dt-c">
            <div class="botao-busca">
              <form (submit)="buscar()" class="d-inline-block">
                <label (click)="abrir_busca()" [ngStyle]="input_busca_style_abrir" for="busca">Buscar aporte</label>
                <input type="text" [ngStyle]="input_busca_style" name="busca" id="busca" placeholder="Buscar aporte" [(ngModel)]="busca">
              </form>
              <i class="fa fa-close fechar" (click)="fechar_busca()" [ngStyle]="fechar_busca_style"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt25"></div>
<div class="container-fluid tabela-responsiva">
  <div class="row">
    <p-accordion class="w-100" [activeIndex]="index" [ngClass]="{'ui-state-active': '','ui-state-disabled': ''}">
      <p-accordionTab *ngFor="let duvida of duvidas; let i = index">
        <p-header>
          <div class="container-fluid item {{(i % 2 == 0 ? '' : 'outra-cor')}}">
            <div class="row">
              <div class="col-lg-12 col-md-12 pd-25-left pd-25-right">{{duvida.titulo}}</div>
            </div>
          </div>
        </p-header>


        <div class="container-fluid">
          <div class="mt15"></div>
          {{duvida.texto}}
          <div class="mt15"></div>
        </div>

      </p-accordionTab>
    </p-accordion>
  </div>
</div>
