<div class="menu-lateral criar-usuario">
  <div class="topo dt">
    <div class="dt-c">
      <div class="nome-usuario" (click)="voltar()"><img src="../../assets/arrow-left.png"> Editar usuário</div>
    </div>
  </div>
  <div class="form-novo-aporte">
    <form #form="ngForm" (submit)="enviar(form.value)">
      <div class="row">
        <div *ngIf="tipo_do_usuario == 1 || tipo_do_usuario == 4" class="col-lg-6 col-md-12">
          <div class="mt10"></div>
          <select name="tipo_usuario" id="tipo_usuario" class="pn" [(ngModel)]="usuario_editar.tipo">
            <option value="">Tipo de usúario</option>
            <option *ngIf="tipo_do_usuario == 1" value="1">{{ (usuario.pais == 1 ? 'Administrator' : 'Administrador') }}</option>
            <option *ngIf="tipo_do_usuario == 1" value="4">{{ (usuario.pais == 1 ? 'Franchisee' : 'Franqueado') }}</option>
            <option value="2">{{ (usuario.pais == 1 ? 'Consultant' : 'Consultor') }}</option>
            <option value="3">{{ (usuario.pais == 1 ? 'Client' : 'Cliente') }}</option>
          </select>
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo == 3" class="col-lg-6 col-md-12">
          <div class="mt10"></div>
          <select name="cliente_consultor" id="cliente_consultor" [(ngModel)]="usuario_editar.cliente_consultor">
            <option value="">{{ (usuario.pais == 1 ? 'Select a consultant' : 'Selecione um consultor') }}</option>
            <option *ngFor="let consultor of consultores" value="{{consultor.id}}">{{consultor.nome}} {{consultor.sobrenome}}</option>
          </select>
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo == 2 && tipo_do_usuario == 1" class="col-lg-6 col-md-12">
          <div class="mt10"></div>
          <select name="consultor_franqueado" id="consultor_franqueado" [(ngModel)]="usuario_editar.consultor_franqueado">
            <option value="">{{ (usuario.pais == 1 ? 'Select a franchisee' : 'Selecionar um franqueado') }}</option>
            <option *ngFor="let franqueado of franqueados" value="{{franqueado.id}}">{{franqueado.nome}} {{franqueado.sobrenome}}</option>
          </select>
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo == 3 && tipo_do_usuario == 1" class="col-lg-6 col-md-12">
          <div class="mt10"></div>
          <select name="cliente_franqueado" id="cliente_franqueado" [(ngModel)]="usuario_editar.cliente_franqueado">
            <option value="">{{ (usuario.pais == 1 ? 'Select a franchisee' : 'Selecione um franqueado') }}</option>
            <option *ngFor="let franqueado of franqueados" value="{{franqueado.id}}">{{franqueado.nome}} {{franqueado.sobrenome}}</option>
          </select>
          <div class="mt20"></div>
        </div>
        <div *ngIf="tipo_do_usuario == 1" class="col-lg-12 col-md-12">
          <div class="row">
            <div class="mt10"></div>
            <div class="line"></div>
            <div class="mt30"></div>
          </div>
        </div>
        <div class="lg-12 col-md-12">
          <h4>Local</h4>
          <div class="mt15"></div>
        </div>
        <div class="col-lg-6 col-md-12">
          <select name="pais" id="pais" [(ngModel)]="usuario_editar.pais">
            <option value="">{{ (usuario.pais == 1 ? 'Country' : 'País') }}</option>
            <option value="1">{{ (usuario.pais == 1 ? 'England' : 'Inglaterra') }}</option>
            <option value="2">{{ (usuario.pais == 1 ? 'Brazil' : 'Brasil') }}</option>
          </select>
          <div class="mt20"></div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="mt10"></div>
            <div class="line"></div>
            <div class="mt30"></div>
          </div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1 && usuario_editar.tipo != 4" class="lg-12 col-md-12">
          <h4>{{ (usuario.pais == 1 ? 'Data people' : 'Dados pessoais') }}</h4>
          <div class="mt15"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 1 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-12 col-md-12">
          <select name="title" id="title" [(ngModel)]="usuario_editar.title">
            <option value="">{{ (usuario.pais == 1 ? 'Title' : 'Título') }}</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
            <option value="Mx">Mx</option>
            <option value="Dir">Sir</option>
            <option value="Dr">Dr</option>
            <option value="Lady">Lady</option>
            <option value="Lord">Lord</option>
            <option value="outro">{{ (usuario.pais == 1 ? 'Other' : 'Outro') }}</option>
          </select>
          <div class="mt20"></div>
        </div>
        <div class="col-lg-6 col-md-12">
          <input name="nome" id="nome" [(ngModel)]="usuario_editar.nome" placeholder="{{ (usuario.pais == 1 ? 'First name' : 'Nome') }}">
          <div class="mt20"></div>
        </div>
        <div class="col-lg-6 col-md-12">
          <input name="sobrenome" id="sobrenome" [(ngModel)]="usuario_editar.sobrenome" placeholder="{{ (usuario.pais == 1 ? 'Last name' : 'Sobrenome') }}">
          <div class="mt20"></div>
        </div>
        <div class="col-lg-6 col-md-12">
          <input name="telefone" id="telefone" [(ngModel)]="usuario_editar.telefone" placeholder="{{ (usuario.pais == 1 ? 'Mobile phone' : 'Telefone') }}">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 1 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-6 col-md-12">
          <input name="nin" id="nin" [(ngModel)]="usuario_editar.nin" placeholder="National Insurance Numbercard (NIN)">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 1 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-6 col-md-12">
          <input name="cnh_numero" id="cnh_numero" [(ngModel)]="usuario_editar.cnh_numero" placeholder="CNH Number">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 1 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-6 col-md-12">
          <input name="cnh_validade" id="cnh_validade" [(ngModel)]="usuario_editar.cnh_validade" placeholder="CNH Validate">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 2 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-6 col-md-12">
          <input name="cpf" id="cpf" [(ngModel)]="usuario_editar.cpf" placeholder="CPF">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 2 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-6 col-md-12">
          <input name="rg" id="rg" [(ngModel)]="usuario_editar.rg" placeholder="RG">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 2 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-6 col-md-12">
          <select name="genero" id="genero" [(ngModel)]="usuario_editar.genero">
            <option value="">{{ (usuario.pais == 1 ? 'Sexuality' : 'Genêro') }}</option>
            <option value="masculino">{{ (usuario.pais == 1 ? 'Male' : 'Masculino') }}</option>
            <option value="feminino">{{ (usuario.pais == 1 ? 'Female' : 'Feminino') }}</option>
            <option value="homosexual">Homosexual</option>
            <option value="transsexual">Transsexual</option>
            <option value="outro">{{ (usuario.pais == 1 ? 'Other' : 'Outro') }}</option>
          </select>
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 2 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-6 col-md-12">
          <select name="estado_civil" id="estado_civil" [(ngModel)]="usuario_editar.estado_civil">
            <option value="">{{ (usuario.pais == 1 ? 'Civil status' : 'Estado Civil') }}</option>
            <option value="casado">{{ (usuario.pais == 1 ? 'Married' : 'Casado') }}</option>
            <option value="solteiro">{{ (usuario.pais == 1 ? 'Unmarried' : 'Solteiro') }}</option>
            <option value="divorciado">{{ (usuario.pais == 1 ? 'Divorced' : 'Divorciado') }}</option>
            <option value="viuvo">{{ (usuario.pais == 1 ? 'Widower' : 'Viúvo') }}</option>
            <option value="outro">{{ (usuario.pais == 1 ? 'Other' : 'Outro') }}</option>
          </select>
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 2 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-6 col-md-12">
          <input name="profissao" id="profissao" [(ngModel)]="usuario_editar.profissao" placeholder="{{ (usuario.pais == 1 ? 'Profission' : 'Profissão') }}">
          <div class="mt20"></div>
        </div>
        <div class="col-lg-12 col-md-12">
          <input name="email" id="email" [(ngModel)]="usuario_editar.email" placeholder="E-mail">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1 && usuario_editar.tipo != 4" class="col-lg-12 col-md-12">
          <div class="row">
            <div class="mt10"></div>
            <div class="line"></div>
            <div class="mt30"></div>
          </div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1 && usuario_editar.tipo != 4" class="lg-12 col-md-12">
          <h4>{{ (usuario.pais == 1 ? 'Address' : 'Endereço') }}</h4>
          <div class="mt15"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1 && usuario_editar.tipo != 4" class="col-lg-6 col-md-12">
          <input name="cep" id="cep" [(ngModel)]="usuario_editar.cep" placeholder="{{ (usuario.pais == 1 ? 'Postcode' : (usuario_editar.pais == '2' ? 'CEP' : 'Postcode')) }}">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1 && usuario_editar.tipo != 4" class="{{(usuario_editar.pais == 2 ? 'col-lg-6' : 'col-lg-12')}} col-md-12">
          <input name="bairro" id="bairro" [(ngModel)]="usuario_editar.bairro" placeholder="{{ (usuario.pais == 1 ? 'Address line 1' : (usuario_editar.pais == 2 ? 'Bairro' : 'Enredeço linha 1')) }}">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1 && usuario_editar.tipo != 4" class="{{(usuario_editar.pais == 2 ? 'col-lg-10' : 'col-lg-12')}} col-md-12">
          <input name="endereco" id="endereco" [(ngModel)]="usuario_editar.endereco" placeholder="{{ (usuario.pais == 1 ? 'Address line 2' : (usuario_editar.pais == 2 ? 'Endereço' : 'Enredeço linha 2')) }}">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 2 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-2 col-md-12">
          <input name="numero" id="numero" [(ngModel)]="usuario_editar.numero" placeholder="N°">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1 && usuario_editar.tipo != 4" class="col-lg-12 col-md-12">
          <input name="complemento" id="complemento" [(ngModel)]="usuario_editar.complemento" placeholder="{{ (usuario.pais == 1 ? 'Address line 3' : (usuario_editar.pais == 2 ? 'Complemento' : 'Enredeço linha 3')) }}">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.pais == 2 && (usuario_editar.tipo != 1 && usuario_editar.tipo != 4)" class="col-lg-6 col-md-12">
          <input name="estado" id="estado" [(ngModel)]="usuario_editar.estado" placeholder="{{ (usuario.pais == 1 ? 'Status' : 'Estado') }}">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1 && usuario_editar.tipo != 4" class="col-lg-6 col-md-12">
          <input name="cidade" id="cidade" [(ngModel)]="usuario_editar.cidade" placeholder="{{ (usuario.pais == 1 ? 'City' : 'Cidade') }}">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1" class="col-lg-12 col-md-12">
          <div class="row">
            <div class="mt10"></div>
            <div class="line"></div>
            <div class="mt30"></div>
          </div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1" class="lg-12 col-md-12">
          <h4>{{ (usuario.pais == 1 ? 'Data bank' : 'Dados bancários') }}</h4>
          <div class="mt15"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1" class="col-lg-4 col-md-12">
          <input name="banco" id="banco" [(ngModel)]="usuario_editar.banco" placeholder="{{ (usuario.pais == 1 ? 'Bank' : 'Banco') }}">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1" class="col-lg-4 col-md-12">
          <input name="agencia" id="agencia" [(ngModel)]="usuario_editar.agencia" placeholder="{{ (usuario.pais == 1 ? 'Agency' : 'Agência') }}">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1" class="col-lg-4 col-md-12">
          <input name="conta_corrente" id="conta_corrente" [(ngModel)]="usuario_editar.conta_corrente" placeholder="{{ (usuario.pais == 1 ? 'Account bank' : 'Conta corrente') }}">
          <div class="mt20"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1" class="col-lg-12 col-md-12">
          <div class="row">
            <div class="mt10"></div>
            <div class="line"></div>
            <div class="mt30"></div>
          </div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1" class="lg-12 col-md-12">
          <h4>{{ (usuario.pais == 1 ? 'Account bitcoin' : 'Conta bitcoin') }}</h4>
          <div class="mt15"></div>
        </div>
        <div *ngIf="usuario_editar.tipo != 1" class="col-lg-12 col-md-12">
          <input name="conta_bitcoin" id="conta_bitcoin" [(ngModel)]="usuario_editar.conta_bitcoin" placeholder="{{ (usuario.pais == 1 ? 'Number account' : 'Número da conta') }}">
          <div class="mt20"></div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="mt10"></div>
            <div class="line"></div>
            <div class="mt30"></div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12"></div>
        <div class="col-lg-6 col-md-12">
          <input type="submit" value="{{ (usuario.pais == 1 ? 'Edit user' : 'Editar usuário') }}">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="area-de-trabalho novo-usuario-texto">
  <div class="text-right">
    <div class="botao-escuro" (click)="voltar()">{{ (usuario.pais == 1 ? 'Cancel' : 'Cancelar') }}</div>
  </div>
</div>
