<div class="topo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <div class="topo dt pd-60-left no-border">
          <div class="dt-c">
            <div class="nome-usuario">{{usuario.pais == 1 ? 'Costumers' : 'Clientes'}} <strong>{{clientes.length}}</strong></div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-xs-12">
        <div class="topo dt pd-60-right no-border text-right">
          <div class="dt-c">
            <div class="botao-busca">
              <form (submit)="buscar()" class="d-inline-block">
                <label (click)="abrir_busca()" [ngStyle]="input_busca_style_abrir" for="busca">{{usuario.pais == 1 ? 'Search client' : 'Buscar cliente'}}</label>
                <input type="text" [ngStyle]="input_busca_style" name="busca" id="busca" placeholder="{{usuario.pais == 1 ? 'Search client' : 'Buscar cliente'}}" [(ngModel)]="busca">
              </form>
              <i class="fa fa-close fechar" (click)="fechar_busca()" [ngStyle]="fechar_busca_style"></i>
            </div>
            <div class="separador-30"></div>
            <div class="filtro-topo">
              <p-dropdown class="clicavel" [options]="ordens" [(ngModel)]="ordem"
                          (onChange)="ordena()"></p-dropdown>
            </div>
            <div class="separador-30"></div>
            <div class="botao-verde" routerLink="/create-user/3">{{usuario.pais == 1 ? 'New client' : 'Novo cliente'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="conteudo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-xs-12">
        <div class="destaques-150 text-center verde dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="descricao">{{usuario.pais == 1 ? 'All Costumers' : 'Total de clientes'}}</div>
              <div class="mt5"></div>
              <div class="valor">{{total_clientes}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12 border-laterais">
        <div class="destaques-150 text-center meio dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="descricao">{{usuario.pais == 1 ? 'All Applications' : 'Total de aportes'}}</div>
              <div class="mt5"></div>
              <div class="valor">{{total_aportes | currency}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="destaques-150 text-center dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="descricao">{{usuario.pais == 1 ? 'All gain' : 'Total de rendimentos'}}</div>
              <div class="mt5"></div>
              <div class="valor">{{total_rendimentos | currency}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid tabela-responsiva">
  <div class="row topo-tabela">
    <div class="col-lg-1 col-md-12 pd-25-left">ID</div>
    <div class="col-lg-5 col-md-12">{{usuario.pais == 1 ? 'Name' : 'Nome'}}</div>
    <div class="col-lg-2 col-md-12">{{usuario.pais == 1 ? 'All Aplications' : 'Total de aportes'}}</div>
    <div class="col-lg-2 col-md-12">{{usuario.pais == 1 ? 'All gain' : 'Total de rendimentos'}}</div>
    <div class="col-lg-2 col-md-12 text-right pd-25-right">{{usuario.pais == 1 ? 'Contract' : 'Contrato'}}</div>
  </div>
  <div class="row">
    <p-accordion class="w-100" [activeIndex]="index" [ngClass]="{'ui-state-active': '','ui-state-disabled': ''}">
      <p-accordionTab *ngFor="let cliente of clientes; let i = index">
        <p-header>
          <div class="container-fluid item">
            <div class="row">
              <div class="col-lg-1 col-md-12 pd-25-left">{{(cliente.id < 10 ? '00000'+cliente.id : '0000'+cliente.id)}}</div>
              <div class="col-lg-5 col-md-12">{{(cliente.pais == 'Inglaterra' ? cliente.title : '')}} {{cliente.nome}} {{cliente.sobrenome}}</div>
              <div class="col-lg-2 col-md-12">{{cliente.valor_aportes | currency}}</div>
              <div class="col-lg-2 col-md-12">{{cliente.valor_rendimentos | currency}}</div>
              <div class="col-lg-2 col-md-12 text-right pd-25-right">
                <div class="analisando-aporte {{(cliente.ativo == 1 ? 'verde' : 'vermelho')}}">{{(cliente.ativo == 1 ? (usuario.pais == 1 ? 'Active' : 'Ativo') : (usuario.pais == 1 ? 'Desactive' : 'Desativado'))}}</div>
              </div>
            </div>
          </div>
        </p-header>


        <div class="container-fluid">
          
          <div class="row nao-estilizado">
            
            <div class="col-lg-6 col-md-12">
              <div class="row nao-estilizado">

                <div class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'Consultant' : 'Consultor'}}</h3>
                </div>
                <div class="col-lg-8 col-md-12">
                  {{cliente.consultor_nome}} {{cliente.consultor_sobrenome}}
                </div>
                <div class="col-md-12"><div class="mt15"></div></div>

                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'Sexuality' : 'Genêro'}}</h3>
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-8 col-md-12">
                  {{cliente.genero}}
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-md-12"><div class="mt15"></div></div>

                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-4 col-md-12 text-right">
                  <h3>CPF</h3>
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-8 col-md-12">
                  {{cliente.cpf}}
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-md-12"><div class="mt15"></div></div>

                <div *ngIf="cliente.pais == 'Inglaterra'" class="col-lg-4 col-md-12 text-right">
                  <h3>National Insurance Numbercard (NIN)</h3>
                </div>
                <div *ngIf="cliente.pais == 'Inglaterra'" class="col-lg-8 col-md-12">
                  {{cliente.nin}}
                </div>
                <div *ngIf="cliente.pais == 'Inglaterra'" class="col-md-12"><div class="mt15"></div></div>

                <div *ngIf="cliente.pais == 'Inglaterra'" class="col-lg-4 col-md-12 text-right">
                  <h3>CNH</h3>
                </div>
                <div *ngIf="cliente.pais == 'Inglaterra'" class="col-lg-8 col-md-12">
                  {{cliente.cnh_numero}}
                </div>
                <div *ngIf="cliente.pais == 'Inglaterra'" class="col-md-12"><div class="mt15"></div></div>

                <div *ngIf="cliente.pais == 'Inglaterra'" class="col-lg-4 col-md-12 text-right">
                  <h3>CNH Validate</h3>
                </div>
                <div *ngIf="cliente.pais == 'Inglaterra'" class="col-lg-8 col-md-12">
                  {{cliente.cnh_validade}}
                </div>
                <div *ngIf="cliente.pais == 'Inglaterra'" class="col-md-12"><div class="mt15"></div></div>

                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-4 col-md-12 text-right">
                  <h3>RG</h3>
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-8 col-md-12">
                  {{cliente.rg}}
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-md-12"><div class="mt15"></div></div>

                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'Civil Status' : 'Estado Civíl'}}</h3>
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-8 col-md-12">
                  {{cliente.estado_civil}}
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-md-12"><div class="mt15"></div></div>

                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'Profession' : 'Profissão'}}</h3>
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-8 col-md-12">
                  {{cliente.profissao}}
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-md-12"><div class="mt15"></div></div>

                <div class="col-lg-4 col-md-12 text-right">
                  <h3>E-mail</h3>
                </div>
                <div class="col-lg-8 col-md-12">
                  {{cliente.email}}
                </div>
                <div class="col-md-12"><div class="mt15"></div></div>

                <div class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'Phone' : 'Telefone'}}</h3>
                </div>
                <div class="col-lg-8 col-md-12">
                  {{cliente.telefone}}
                </div>
                <div class="col-md-12"><div class="mt15"></div></div>

              </div>
            </div>

            <div class="col-lg-6 col-md-12">
              <div class="row nao-estilizado">

                <div class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? '`PostCode' : 'CEP'}}</h3>
                </div>
                <div class="col-lg-8 col-md-12">
                  {{cliente.cep}}
                </div>
                <div class="col-md-12"><div class="mt15"></div></div>

                <div class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'Address Line 1' : 'Bairro'}}</h3>
                </div>
                <div class="col-lg-8 col-md-12">
                  {{cliente.bairro}}
                </div>
                <div class="col-md-12"><div class="mt15"></div></div>

                <div class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'Address Line 2' : 'Endereço'}}</h3>
                </div>
                <div class="col-lg-8 col-md-12">
                  {{cliente.endereco}}
                </div>
                <div class="col-md-12"><div class="mt15"></div></div>

                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'Number' : 'Número'}}</h3>
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-8 col-md-12">
                  {{cliente.numero}}
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-md-12"><div class="mt15"></div></div>

                <div class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'Address Line 3' : 'Complemento'}}</h3>
                </div>
                <div class="col-lg-8 col-md-12">
                  {{cliente.complemento}}
                </div>
                <div class="col-md-12"><div class="mt15"></div></div>

                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'State' : 'Estado'}}</h3>
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-lg-8 col-md-12">
                  {{cliente.estado}}
                </div>
                <div *ngIf="cliente.pais != 'Inglaterra'" class="col-md-12"><div class="mt15"></div></div>

                <div class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'City' : 'Cidade'}}</h3>
                </div>
                <div class="col-lg-8 col-md-12">
                  {{cliente.cidade}}
                </div>
                <div class="col-md-12"><div class="mt15"></div></div>

                <div class="col-lg-4 col-md-12 text-right">
                  <h3>{{usuario.pais == 1 ? 'Country' : 'País'}}</h3>
                </div>
                <div class="col-lg-8 col-md-12">
                  {{cliente.pais}}
                </div>
                <div class="col-md-12"><div class="mt15"></div></div>

              </div>
            </div>
          </div>

          <div *ngIf="cliente.banco && cliente.agencia && cliente.conta_corrente" class="row">
            <div class="col-lg-2 col-md-12 text-right">
              <div class="mt15"></div>
              <h3>{{usuario.pais == 1 ? 'Account bank' : 'Conta Bancária'}}</h3>
              <div class="mt15"></div>
            </div>
            <div class="col-lg-10 col-md-12">
              <div class="line"></div>
              <div class="mt15"></div>
              {{cliente.banco}}  ·  {{usuario.pais == 1 ? 'Agency' : 'Agência'}} {{cliente.agencia}}  · {{usuario.pais == 1 ? 'Account' : 'Conta'}} {{cliente.conta_corrente}}
              <div class="mt15"></div>
              <div class="line"></div>
            </div>
          </div>
          <div *ngIf="cliente.conta_bitcoin" class="row">
            <div class="col-lg-2 col-md-12 text-right">
              <div class="mt15"></div>
              <h3>{{usuario.pais == 1 ? 'Account bitcoin' : 'Conta Bitcoin'}}</h3>
              <div class="mt15"></div>
            </div>
            <div class="col-lg-10 col-md-12">
              <div class="mt15"></div>
              {{cliente.conta_bitcoin}}
              <div class="mt15"></div>
              <div class="line"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 text-right">
              <div class="mt15"></div>
              <h3>{{usuario.pais == 1 ? 'Contract' : 'Contrato'}}</h3>
            </div>
            <div class="col-lg-10 col-md-12">
                <div class="row sem-estilo comprovante-aportes" *ngFor="let contrato of cliente.contratos; let c = index;">
                    <div class="col-lg-10 col-md-12">
                        <div class="mt15"></div>
                        <a [href]="padroes.caminhoImagemContratoCliente(cliente.id, contrato.id, contrato.extension)" target="_blank">
                          {{contrato.created_at | date: 'dd/MM/yyyy'}} &bull; {{ (contrato.usuario_tipo == 1 ? (usuario.pais == 1 ? 'Administrator' : 'Administrador') : (contrato.usuario_tipo == 2 ? (usuario.pais == 1 ? 'Consultant' : 'Consultor') : (usuario.pais == 1 ? 'Client' : 'Cliente'))) }} &bull; {{contrato.usuario_nome}} {{contrato.usuario_sobrenome}}
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-12 text-right">
                      <div class="mt15"></div>
                      <span class="deletar-itens" (click)="certeza_abre(cliente.id, i, contrato.id, 4)">Deletar</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <div class="mt15"></div>
              <p-fileUpload class="botao-escuro" mode="basic" name="myfile[]" customUpload="true" #campo_contrato (uploadHandler)="upload($event, cliente.id, i, campo_contrato)" accept="image/jpg, image/jpeg, image/png, application/pdf" maxFileSize="5000000" auto="auto" chooseLabel="{{usuario.pais == 1 ? 'Insert contract' : 'Inserir contrato'}}"></p-fileUpload>
              <div class="separador-15"></div>
              <div *ngIf="cliente.banco && cliente.agencia && cliente.conta_corrente" class="botao-escuro" (click)="certeza_abre(cliente.id, i, null, 3)">{{usuario.pais == 1 ? 'Reset bank' : 'Resetar banco'}}</div>
              <div *ngIf="cliente.banco && cliente.agencia && cliente.conta_corrente" class="separador-15"></div>
              <div class="botao-escuro" [routerLink]="['/user-edit', '3', cliente.id]">{{usuario.pais == 1 ? 'Edit data' : 'Editar dados'}}</div>
              <div class="separador-15"></div>
              <div *ngIf="cliente.ativo == 1" class="botao-escuro" (click)="certeza_abre(cliente.id, i, null, 1)">{{usuario.pais == 1 ? 'Desable access' : 'Desativar acesso'}}</div>
              <div *ngIf="cliente.ativo == 0" class="botao-escuro" (click)="certeza_abre(cliente.id, i, null, 2)">{{usuario.pais == 1 ? 'Active access' : 'Reativar acesso'}}</div>
              <div class="separador-15"></div>
            </div>

          </div>
        </div>

      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<div [ngStyle]="style_certeza" class="tem-certeza text-center">
  <h5>Tem certeza que deseja<bR>
    fazer esta operação?</h5>
  <div class="mt30"></div>
  <div class="botao-escuro" (click)="(editar_item.id_item == null ? cancela_certeza() : (editar_item.funcao == 1 ? desativar_usuario(editar_item.id_item, editar_item.index_item) : (editar_item.funcao == 2 ? ativar_usuario(editar_item.id_item, editar_item.index_item) : (editar_item.funcao == 3 ? reseta_banco(editar_item.id_item, editar_item.index_item) : apagar_contrato(editar_item.comprovante_id, editar_item.id_item, editar_item.index_item)))))">Sim, tenho</div>
  <div class="separador-15"></div>
  <div class="botao-ativar azul" (click)="cancela_certeza()">Cancelar</div>
</div>
