<div class="topo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <div class="topo dt pd-60-left no-border">
          <div class="dt-c">
            <div class="cargo">Consultor</div>
            <div class="nome-usuario">Contatos</div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-xs-12">
        <div class="topo dt pd-60-right no-border text-right">
          <div class="dt-c">
            <div class="botao-busca">
              <i class="fa fa-search" (click)="abrir_busca()"></i>
              <form (submit)="buscar()" class="d-inline-block">
                <input type="text" [ngStyle]="input_busca_style" name="busca" id="busca"
                       [(ngModel)]="busca">
              </form>
              <i class="fa fa-close fechar" (click)="fechar_busca()" [ngStyle]="fechar_busca_style"></i>
            </div>
            <div class="separador-40"></div>
            <div class="filtro-topo">
              <p-dropdown class="clicavel" [options]="ordens" [(ngModel)]="ordem"
                          (onChange)="ordena()"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="conteudo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-xs-12 pd-60-left">
        <div class="destaques-150 verde dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="valor">{{total_contatos_respondidos}}</div>
              <div class="mt5"></div>
              <div class="descricao">Não respondidos</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 border-laterais pd-60-left">
        <div class="destaques-150 meio dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="valor">{{total_contatos}}</div>
              <div class="mt5"></div>
              <div class="descricao">Total de recebidos</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid tabela-responsiva">
  <div class="row topo-tabela">
    <div class="col-lg-2 col-md-12 pd-25-left">Data</div>
    <div class="col-lg-8 col-md-12">Título</div>
    <div class="col-lg-2 col-md-12">Situação</div>
  </div>
  <div class="row">
    <p-accordion class="w-100" [activeIndex]="index" [ngClass]="{'ui-state-active': '','ui-state-disabled': ''}">
      <p-accordionTab *ngFor="let contato of contatos; let i = index">
        <p-header>
          <div class="container-fluid item {{(i % 2 == 0 ? '' : 'outra-cor')}}">
            <div class="row">
              <div class="col-lg-2 col-md-12 pd-25-left">{{contato.created_at | date: 'dd/MM/yyyy'}}</div>
              <div class="col-lg-8 col-md-12">{{contato.titulo}}</div>
              <div class="col-lg-2 col-md-12 text-right pd-25-right {{(contato.respostas.length ? 'verde' : 'amarelo')}}">
                {{(contato.respostas.length ? 'Respondido' : 'Aberto')}}
              </div>
            </div>
          </div>
        </p-header>


        <div class="container-fluid">
          <div class="row nao-estilizado">

            <div class="col-lg-2 col-md-10">
              <h3>Cliente</h3>
            </div>
            <div class="col-lg-10 col-md-10">
              {{contato.cliente_nome}} {{contato.cliente_sobrenome}}
            </div>
            <div class="col-md-12">
              <div class="mt15"></div>
            </div>

            <div class="col-lg-2 col-md-10">
              <h3>Título</h3>
            </div>
            <div class="col-lg-10 col-md-10">
              {{contato.titulo}}
            </div>
            <div class="col-md-12">
              <div class="mt15"></div>
            </div>

            <div class="col-lg-2 col-md-10">
              <h3>Mensagem</h3>
            </div>
            <div class="col-lg-10 col-md-10">
              {{contato.texto}}
            </div>
            <div class="col-md-12">
              <div class="mt15"></div>
              <div class="line"></div>
              <div class="mt15"></div>
            </div>
          </div>
          <div *ngFor="let resposta of contato.respostas; let c = index" class="row nao-estilizado">
            <div class="col-lg-2 col-md-10">
              <h3>{{(resposta.usuario_tipo == 1 ? 'Administrador' : (resposta.usuario_tipo == 2 ? 'Consultor' : 'Cliente'))}}</h3>
            </div>
            <div class="col-lg-10 col-md-10">
              <div class="row nao-estilizado">
                <div class="col-lg-6 col-md-12">
                  {{resposta.usuario_nome}} {{resposta.usuario_sobrenome}}
                </div>
                <div class="col-lg-6 col-md-12 text-right">
                  {{resposta.created_at | date: 'dd/MM/yyyy'}}
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mt15"></div>
            </div>


            <div class="col-lg-2 col-md-10">
              <h3>Mensagem</h3>
            </div>
            <div class="col-lg-8 col-md-10">
              {{resposta.texto}}
            </div>
            <div class="col-md-10 offset-md-2">
              <div class="mt15"></div>
              <div class="line"></div>
              <div class="mt15"></div>
            </div>
          </div>

          <div class="col-md-12 text-right">
            <div class="botao-escuro" routerLink="/reply-contact/{{contato.id}}">RESPONDER</div>
            <div class="mt5"></div>
          </div>

        </div>

      </p-accordionTab>
    </p-accordion>
  </div>
</div>
