<div class="topo-internas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-12">
                <div class="topo dt pd-60-left no-border">
                    <div class="dt-c">
                        <div class="nome-usuario">{{usuario.pais == 1 ? 'Applications' : 'Aportes'}} <strong>{{aportes.length}}</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-12">
                <div class="topo dt pd-60-right no-border text-right">
                    <div class="dt-c">
                        <div class="botao-busca">
                            <form (submit)="buscar()" class="d-inline-block">
                                <label (click)="abrir_busca()" [ngStyle]="input_busca_style_abrir" for="busca">Buscar aporte</label>
                                <input type="text" [ngStyle]="input_busca_style" name="busca" id="busca" placeholder="Buscar aporte" [(ngModel)]="busca">
                            </form>
                            <i class="fa fa-close fechar" (click)="fechar_busca()" [ngStyle]="fechar_busca_style"></i>
                        </div>
                        <div class="separador-30"></div>
                        <div class="filtro-topo">
                            <p-dropdown class="clicavel" [options]="ordens" [(ngModel)]="ordem"
                                        (onChange)="ordena()"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="conteudo-internas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="destaques-150 text-center verde dt w-100">
                    <div class="dt-c">
                        <div class="centraliza">
                            <div class="valor">{{total_rendimentos | currency}}</div>
                            <div class="mt5"></div>
                            <div class="descricao">{{usuario.pais == 1 ? 'All gain' : 'Total de rendimentos'}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 border-laterais">
                <div class="destaques-150 text-center meio dt w-100">
                    <div class="dt-c">
                        <div class="centraliza">
                            <div class="valor">{{total_aportes | currency}}</div>
                            <div class="mt5"></div>
                            <div class="descricao">{{usuario.pais == 1 ? 'All applications' : 'Total de aportes'}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="destaques-150 text-center dt w-100">
                    <div class="dt-c">
                        <div class="centraliza">
                            <div class="valor">{{total_aportes + total_rendimentos | currency}}</div>
                            <div class="mt5"></div>
                            <div class="descricao">{{usuario.pais == 1 ? 'All Gain' : 'Rendimento geral'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid tabela-responsiva">
    <div class="row topo-tabela">
        <div class="col-lg-1 col-md-12 pd-25-left">ID</div>
        <div class="col-lg-3 col-md-12">{{usuario.pais == 1 ? 'Applications' : 'Aportes'}}</div>
        <div class="col-lg-2 col-md-12">{{usuario.pais == 1 ? 'Date' : 'Data'}}</div>
        <div class="col-lg-4 col-md-12">
            <div class="row">
                <div class="col-lg-2 col-md-12">{{usuario.pais == 1 ? 'Days' : 'Dias'}}</div>
                <div class="col-lg-5 col-md-12">{{usuario.pais == 1 ? 'Gain' : 'Rendimentos'}}</div>
                <div class="col-lg-5 col-md-12">{{usuario.pais == 1 ? 'All' : 'Saldo final'}}</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-12 text-right pd-25-right">{{usuario.pais == 1 ? 'Situation' : 'Situação'}}</div>
    </div>
    <div class="row">
        <p-accordion class="w-100" [activeIndex]="index" [ngClass]="{'ui-state-active': '','ui-state-disabled': ''}">
            <p-accordionTab *ngFor="let aporte of aportes; let i = index">
                <p-header>
                    <div class="container-fluid item {{(i % 2 == 0 ? '' : 'outra-cor')}}">
                        <div class="row">
                            <div class="col-lg-1 col-md-12 pd-25-left">{{(aporte.id < 10 ? '00000'+aporte.id : '0000'+aporte.id)}}</div>
                            <div class="col-lg-3 col-md-12">{{aporte.valor_vigente | currency}} </div>
                            <div class="col-lg-2 col-md-12">{{aporte.data_vigente | date: 'dd/MM/yyyy'}}</div>
                            <div class="col-lg-4 col-md-12">
                                <div class="row">
                                    <div class="col-lg-2 col-md-12">{{aporte.dias_vigente}}</div>
                                    <div class="col-lg-5 col-md-12 verde">{{aporte.valor_atual - aporte.valor_vigente | currency}}</div>
                                    <div class="col-lg-5 col-md-12">{{aporte.valor_atual | currency}}</div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-12 text-right pd-25-right {{(aporte.situacao == 3 ? (aporte.dias_vigente < 30 ? 'vermelho '+(30-aporte.dias)+' dias' : 'verde') : (aporte.situacao == 2 ? 'amarelo' : ''))}}">
                                {{(aporte.situacao == 3 ? (aporte.dias_vigente < 30 ? (usuario.pais == 1 ? 'WAIT ' : 'FALTAM ') + (30 - aporte.dias_vigente) + (usuario.pais == 1 ? ' DAYS' : ' DIAS') : (usuario.pais == 1 ? 'RELEASED FOR SAKE' : 'LIBERADO PARA SAQUE')) : (aporte.situacao == 2 ? (usuario.pais == 1 ? 'ON ANALYZE' : 'SOB ANALÍSE') : (usuario.pais == 1 ? 'NOT VOUCHERS' : 'SEM COMPROVANTE')))}}
                            </div>
                        </div>
                    </div>
                </p-header>

                <form *ngIf="(usuario.banco && usuario.agencia && usuario.conta_corrente) || usuario.conta_bitcoin" class="form-novo-aporte sacar" #form="ngForm" (submit)="sacar(form.value, aporte.id, i)">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-4 col-md-12">
                                <div *ngIf="aporte.dias_vigente == 30 && (!aporte.periodo_sacado && !aporte.periodo_sacado)" class="row">
                                    <div class="col-lg-4 col-md-12 text-right">
                                        <div class="mt10"></div>
                                        <p>{{usuario.pais == 1 ? 'Please enter the desired value' : 'Digite ao lado o valor desejado'}}</p>
                                    </div>
                                    <div class="col-lg-5 col-md-12">
                                        <input type="text" ngModel placeholder="{{aporte.valor_atual | currency}} {{usuario.pais == 1 ? 'released' : 'liberado'}}" name="valor" id="valor">
                                    </div>
                                    <div class="col-lg-3 col-md-12">
                                        <input type="submit" class="botao-verde w-100" value="{{usuario.pais == 1 ? 'TO SAKE' : 'SACAR'}}">
                                    </div>
                                </div>
                                <div *ngIf="!aporte.dias_vigente == 30 || (aporte.periodo_sacado || aporte.periodo_sacado)" class="row">
                                    <div class="col-lg-12 col-md-12 text-right">
                                        <div class="mt15"></div>
                                        <p>{{usuario.pais == 1 ? 'Saque requested or out the period withdrawal, please wait.' : 'Saque já solicitado ou aporte fora do periodo de saque, por favor aguarde.'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form *ngIf="!usuario.banco || !usuario.agencia || !usuario.conta_corrente" class="form-novo-aporte sacar" #form="ngForm" (submit)="salvar_banco(form.value)">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-2 col-md-12 text-right">
                                <div class="mt15"></div>
                                <h3>{{usuario.pais == 1 ? 'Account bank' : 'Conta bancária'}}</h3>
                            </div>
                            <div class="col-lg-10 col-md-12">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12">
                                                <input type="text" ngModel placeholder="{{usuario.pais == 1 ? 'Bank' : 'Banco'}}" name="banco" id="banco">
                                            </div>
                                            <div class="col-lg-4 col-md-12">
                                                <input type="text" ngModel placeholder="{{usuario.pais == 1 ? 'Agency' : 'Agência'}}" name="agencia" id="agencia">
                                            </div>
                                            <div class="col-lg-4 col-md-12">
                                                <input type="text" ngModel placeholder="{{usuario.pais == 1 ? 'Account bank' : 'Conta corrente'}}" name="conta_corrente" id="conta_corrente">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-12">
                                        <input type="submit" class="botao-verde w-100" value="{{usuario.pais == 1 ? 'TO SAVE' : 'SALVAR'}}">
                                    </div>
                                </div>
                                <div class="mt15"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <form *ngIf="!usuario.conta_bitcoin" class="form-novo-aporte sacar" #form="ngForm" (submit)="salvar_bitcoin(form.value)">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-2 col-md-12 text-right">
                                <div class="mt30"></div>
                                <h3>{{usuario.pais == 1 ? 'Account bitcoin' : 'Conta bitcoin'}}</h3>
                            </div>
                            <div class="col-lg-10 col-md-12">
                                <div class="mt15"></div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-12">
                                        <input type="text" ngModel placeholder="{{usuario.pais == 1 ? 'Number' : 'Número'}}" name="conta_bitcoin" id="conta_bitcoin">
                                    </div>
                                    <div class="col-lg-2 col-md-12">
                                        <input type="submit" class="botao-verde w-100" value="{{usuario.pais == 1 ? 'TO SAVE' : 'SALVAR'}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </p-accordionTab>
        </p-accordion>
    </div>
</div>
