<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-12 padding-dif-50">
      <div class="mt30"></div>
      <h6>{{usuario.pais == 1 ? 'All patrimony' : 'Total do patrimônio'}}</h6>
      <h6><strong>{{usuario.valor_rendimentos + usuario.valor_aportes | currency}}</strong></h6>
      <div class="mt25"></div>
      <div class="line"></div>
      <div class="mt25"></div>
      <h6>{{usuario.pais == 1 ? 'All gain' : 'Total rendimentos'}}</h6>
      <h6><small>{{usuario.valor_rendimentos | currency}}</small></h6>
      <div class="mt25"></div>
      <h6>{{usuario.pais == 1 ? 'All applications' : 'Total de aportes'}}</h6>
      <h6><small>{{usuario.valor_aportes | currency}}</small></h6>
      <div class="mt25"></div>
      <div class="line"></div>
      <div class="depositos">
        <div class="titulo-deposito">Para depósito</div>
        <div class="mt10"></div>
        <div class="caixas">
          <div class="titulo-caixas">Bradesco</div>
          <div class="mt15"></div>
          <div class="clearfix"></div>
          <div class="float-left texto-caixas"><strong>Nº banco</strong></div>
          <div class="float-right texto-caixas">237</div>
          <div class="clearfix"></div>
          <div class="mt5"></div>
          <div class="clearfix"></div>
          <div class="float-left texto-caixas"><strong>Agência</strong></div>
          <div class="float-right texto-caixas">3152</div>
          <div class="clearfix"></div>
          <div class="mt5"></div>
          <div class="clearfix"></div>
          <div class="float-left texto-caixas"><strong>Conta corrente</strong></div>
          <div class="float-right texto-caixas">8086-1</div>
          <div class="clearfix"></div>
          <div class="mt5"></div>
          <div class="clearfix"></div>
          <div class="float-left texto-caixas"><strong>CNPJ</strong></div>
          <div class="float-right texto-caixas">13.871.045/0001-46</div>
          <div class="clearfix"></div>
          <div class="mt5"></div>
          <div class="clearfix"></div>
          <div class="float-left texto-caixas"><strong>London Eyes Invest</strong></div>
          <div class="clearfix"></div>
        </div>
        <div class="mt10"></div>
        <div class="caixas">
          <div class="titulo-caixas">Bitcoin</div>
          <div class="mt15"></div>
          <div class="clearfix"></div>
          <div class="float-left texto-caixas"><strong>Código</strong></div>
          <div class="float-right texto-caixas">13.871.045/0001-46</div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 padding-dif-25">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mt30"></div>
          <div class="cotacao">
            <h6>{{usuario.pais == 1 ? 'UKXUSD' : 'UKXUSD'}}</h6>
            <div class="cotacao-valor">{{(uk / usd) | currency:'£ '}}</div>
          </div>
          <div class="cotacao">
            <h6>{{usuario.pais == 1 ? 'UKXBT' : 'UKXBT'}}</h6>
            <div class="cotacao-valor">{{(bt / uk) | currency:'£ '}}</div>
          </div>
          <div class="cotacao">
            <h6>{{usuario.pais == 1 ? 'BRXBT' : 'BRXBT'}}</h6>
            <div class="cotacao-valor">{{bt | currency:'R$ '}}</div>
          </div>
          <div class="cotacao">
            <h6>{{usuario.pais == 1 ? 'BRXUSD' : 'BRXUSD'}}</h6>
            <div class="cotacao-valor">{{usd | currency:'R$ '}}</div>
          </div>
          <div class="mt25"></div>
          <div class="line"></div>
          <div class="mt25"></div>
        </div>
        <div class="col-lg-12 col-md-12">
          <form class="form-novo-aporte w-100 padding-0" #form_deposito="ngForm" (submit)="deposito(form_deposito.value)">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <h6><small>Quanto depositar?</small></h6>
                <p>Os valores podem variar conforme as cotações.</p>
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="mt25"></div>
                <input type="text" placeholder="{{usuario.pais == 1 ? 'Value in dollar' : 'Valor em dollar'}}" ngModel name="valor_dolar" id="valor_dolar">
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="mt25"></div>
                <select ngModel name="moeda" id="moeda">
                  <option value="">{{usuario.pais == 1 ? 'Select a coin' : 'Selecione a moeda'}}</option>
                  <option value="uk">{{usuario.pais == 1 ? 'Libra' : 'Libra'}}</option>
                  <option value="br">{{usuario.pais == 1 ? 'Real' : 'Real'}}</option>
                  <option value="bt">{{usuario.pais == 1 ? 'Bitcoin' : 'Bitcoin'}}</option>
                </select>
              </div>
              <div class="col-lg-2 col-md-12">
                <div class="mt25"></div>
                <input type="submit" value="{{usuario.pais == 1 ? 'Quote' : 'Cotar'}}">
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="mt20"></div>
                <h6>Seu depósito deve ser de: <span class="valor_cotacao">{{final_cotacao | currency}}</span></h6>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="mt25"></div>
          <div class="line"></div>
          <div class="mt25"></div>
        </div>
        <div class="col-lg-12 col-md-12">
          <form class="form-novo-aporte w-100 padding-0" #form="ngForm" (submit)="simular(form.value)">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <h6><small>Simule seu investimento</small></h6>
                <p>Insira abaixo o valor e o mês para simular seus investimentos</p>
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="mt25"></div>
                <input type="text" placeholder="{{usuario.pais == 1 ? 'Amount to be invested' : 'Insira o valor'}}" ngModel name="valor" id="valor">
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="mt25"></div>
                <input type="text" placeholder="{{usuario.pais == 1 ? 'Number of months' : 'Nº de meses'}}" ngModel name="meses" id="meses">
              </div>
              <div class="col-lg-2 col-md-12">
                <div class="mt25"></div>
                <input type="submit" value="{{usuario.pais == 1 ? 'Simulate' : 'Simular'}}">
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="mt20"></div>
                <h6 class="simulando">Rendimento: <span class="valor_cotacao">{{ultimo_valor - primeiro_valor | currency}}</span></h6>
                <h6 class="simulando">Valor total: <span class="valor_cotacao">{{ultimo_valor | currency}}</span></h6>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
