<div class="topo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <div class="topo dt pd-60-left no-border">
          <div class="dt-c">
            <div class="nome-usuario">{{usuario.pais == 1 ? 'My gain' : 'Meus rendimentos'}}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-xs-12"></div>
    </div>
  </div>
</div>
<div class="conteudo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="destaques-150 text-center verde dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="valor">{{total_comissoes | currency}}</div>
              <div class="mt5"></div>
              <div class="descricao">{{usuario.pais == 1 ? 'All gain' : 'Total de comissões'}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 border-laterais">
        <div class="destaques-150 text-center meio dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="valor vermelho">{{total_saques | currency}}</div>
              <div class="mt5"></div>
              <div class="descricao">{{usuario.pais == 1 ? 'All withdrawal' : 'Total de saques'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid tabela-responsiva">
  <div class="row topo-tabela">
    <div class="col-lg-2 col-md-12 pd-25-left">{{usuario.pais == 1 ? 'Date' : 'Data'}}</div>
    <div class="col-lg-3 col-md-12">{{usuario.pais == 1 ? 'Gain' : 'Comissões'}}</div>
    <div class="col-lg-7 col-md-12 text-right pd-25-right">{{usuario.pais == 1 ? 'Situation' : 'Situação'}}</div>
  </div>
  <div class="row">
    <p-accordion class="w-100" [activeIndex]="index" [ngClass]="{'ui-state-active': '','ui-state-disabled': ''}">
      <p-accordionTab>
        <p-header>
          <div class="container-fluid item">
            <div class="row">
              <div class="col-lg-2 col-md-12 pd-25-left">{{now | date: 'dd/MM/yyyy'}}</div>
              <div class="col-lg-3 col-md-12">{{total_comissoes | currency}}</div>
              <div class="col-lg-7 col-md-12 text-right pd-25-right">
                {{(liberado_sacar ? (usuario.pais == 1 ? 'Released to withdrawal.' : 'Liberado para saque.') : (usuario.pais == 1 ? 'Wait to release to withdrawal.' : 'Aguarde liberar para sacar.'))}}
              </div>
            </div>
          </div>
        </p-header>

        <form *ngIf="!usuario.banco || !usuario.agencia || !usuario.conta_corrente" class="form-novo-aporte sacar" #form="ngForm" (submit)="salvar_banco(form.value)">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-2 col-md-12 text-right">
                <div class="mt15"></div>
                <h3>{{usuario.pais == 1 ? 'Account bank' : 'Conta bancária'}}</h3>
              </div>
              <div class="col-lg-10 col-md-12">
                <div class="row">
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-lg-4 col-md-12">
                        <input type="text" ngModel placeholder="{{usuario.pais == 1 ? 'Bank' : 'Banco'}}" name="banco" id="banco">
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <input type="text" ngModel placeholder="{{usuario.pais == 1 ? 'Agency' : 'Agência'}}" name="agencia" id="agencia">
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <input type="text" ngModel placeholder="{{usuario.pais == 1 ? 'Account bank' : 'Conta corrente'}}" name="conta_corrente" id="conta_corrente">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-12">
                    <input type="submit" class="botao-verde w-100" value="{{usuario.pais == 1 ? 'TO SAVE' : 'SALVAR'}}">
                  </div>
                </div>
                <div class="mt15"></div>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </form>
        <form *ngIf="!usuario.conta_bitcoin" class="form-novo-aporte sacar" #form="ngForm" (submit)="salvar_bitcoin(form.value)">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-2 col-md-12 text-right">
                <div class="mt30"></div>
                <h3>{{usuario.pais == 1 ? 'Account bitcoin' : 'Conta bitcoin'}}</h3>
              </div>
              <div class="col-lg-10 col-md-12">
                <div class="mt15"></div>
                <div class="row">
                  <div class="col-lg-10 col-md-12">
                    <input type="text" ngModel placeholder="{{usuario.pais == 1 ? 'Number' : 'Número'}}" name="conta_bitcoin" id="conta_bitcoin">
                  </div>
                  <div class="col-lg-2 col-md-12">
                    <input type="submit" class="botao-verde w-100" value="{{usuario.pais == 1 ? 'TO SAVE' : 'SALVAR'}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <form *ngIf="(liberado_sacar) && ((usuario.banco && usuario.agencia && usuario.conta_corrente) || (usuario.conta_bitcoin))"  class="form-novo-aporte sacar" #form="ngForm" (submit)="sacar(form.value)">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-8 offset-lg-4 col-md-12">
                <div class="row">
                  <div class="col-lg-4 col-md-12 text-right">
                    <div class="mt10"></div>
                    <p>{{usuario.pais == 1 ? 'Please enter the desired value' : 'Digite ao lado o valor desejado'}}</p>
                  </div>
                  <div class="col-lg-5 col-md-12">
                    <input type="text" ngModel placeholder="{{total_comissoes | currency}} {{usuario.pais == 1 ? 'released' : 'liberado'}}" name="valor" id="valor">
                  </div>
                  <div class="col-lg-3 col-md-12">
                    <input type="submit" class="botao-verde w-100" value="{{usuario.pais == 1 ? 'TO SAKE' : 'SACAR'}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div *ngIf="(!liberado_sacar)" class="container-fluid">
          <div class="row">
            <div class="col-lg-8 offset-lg-4 col-md-12">
              <div class="row">
                <div class="col-lg-12 col-md-12 text-right">
                  <div class="mt15"></div>
                  <p>{{usuario.pais == 1 ? 'Saque requested or out the period withdrawal, please wait.' : 'Saque já solicitado ou aporte fora do periodo de saque, por favor aguarde.'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </p-accordionTab>
      <p-accordionTab *ngFor="let saque of saques; let i = index">
        <p-header>
          <div class="container-fluid item {{(i % 2 == 0 ? 'outra-cor' : '')}}">
            <div class="row">
              <div class="col-lg-2 col-md-12 pd-25-left">{{saque.created_at | date: 'dd/MM/yyyy'}}</div>
              <div class="col-lg-3 col-md-12">{{saque.valor | currency}} </div>
              <div class="col-lg-7 col-md-12 text-right pd-25-right {{(saque.situacao == 1 ? '' : 'verde')}}">
                {{(saque.situacao == 2 ? 'Depósito realizado dia '+(saque.data_deposito | date: 'dd/MM/yyyy') : 'Em processamento')}}
              </div>
            </div>
          </div>
        </p-header>

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 offset-lg-4 col-md-12">
              <div class="row">
                <div class="col-lg-12 col-md-12 text-right">
                  <div class="mt15"></div>
                  <p>{{(saque.situacao == 2 ? 'Depósito realizado dia '+(saque.data_deposito | date: 'dd/MM/yyyy') : 'Em processamento')}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </p-accordionTab>
    </p-accordion>
  </div>
</div>
