<div class="topo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <div class="topo dt pd-60-left no-border">
          <div class="dt-c">
            <div class="nome-usuario">{{usuario.pais == 1 ? 'Extract' : 'Movimentações'}}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-xs-12">
        <div class="topo dt pd-60-right no-border text-right">
          <div class="dt-c">
            {{usuario.pais == 1 ? 'Extracts of' : 'Movimentações de'}} <span class="calendario-aqui verde" (click)="mostra_data()">{{primeiro_dia | date: 'dd/MM/yyyy'}}<p-calendar [(ngModel)]="primeiro_dia" [locale]="(usuario.pais == 1 ? en : pt)"></p-calendar></span> {{usuario.pais == 1 ? 'to' : 'até'}} <span class="calendario-aqui verde" (click)="mostra_data()">{{segundo_dia | date: 'dd/MM/yyyy'}}<p-calendar [(ngModel)]="segundo_dia" [locale]="(usuario.pais == 1 ? en : pt)"></p-calendar></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid tabela-responsiva sem-collapse">
  <div class="row topo-tabela">
    <div class="col-lg-1 col-md-12 pd-25-left">{{usuario.pais == 1 ? 'Date' : 'Data'}}</div>
    <div class="col-lg-9 col-md-12 pd-25-left">{{usuario.pais == 1 ? 'History' : 'Histórico'}}</div>
    <div class="col-lg-2 col-md-12">{{usuario.pais == 1 ? 'Value' : 'Valor'}}</div>
  </div>
  <div *ngFor="let movimentacao of movimentacoes; let i = index" class="item">
    <div class="row">
      <div class="col-lg-1 col-md-12 pd-25-left">{{movimentacao.created_at | date: 'dd/MM/yyyy'}}</div>
      <div class="col-lg-9 col-md-12 pd-25-left {{(movimentacao.tipo == 1 ? '' : 'vermelho')}}">{{(movimentacao.tipo == 1 ? (usuario.pais == 1 ? 'News application ' : 'Novo aporte ') : (usuario.pais == 1 ? 'Withdrawal ' : 'Saque '))}} &bull; {{(movimentacao.aporte < 10 ? '00000'+movimentacao.aporte : '0000'+movimentacao.aporte)}} &bull; {{movimentacao.cliente_nome}} {{movimentacao.cliente_sobrenome}}</div>
      <div class="col-lg-2 col-md-12 {{(movimentacao.tipo == 1 ? 'verde' : 'vermelho')}}">{{movimentacao.valor | currency}}</div>
    </div>
  </div>
</div>
