<div class="bg-fundo-fundo">
  <div class="dt-c text-center">
    <img src="../../assets/logo-login.png" alt="Logo London Invest">
    <div class="mt45"></div>
    <div class="login text-left">
      <form #form="ngForm" (submit)="enviar(form.value, $event)">
        <div class="inputs-dentro">
          <input type="text" ngModel name="email" id="email" placeholder="E-mail">
          <div class="line"></div>
          <input type="password" ngModel name="senha" id="senha" placeholder="Password">
        </div>
        <div class="mt15"></div>
        <input type="submit" value="Entry">
      </form>
      <div class="mt20"></div>
      <p class="esqueci-senha" routerLink="/forgot-password">Forgot password ?</p>
    </div>
  </div>
</div>
