.bg-fundo-fundo{background: url("../../assets/login.png") no-repeat center center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: table;}
.dt-c{display: table-cell; vertical-align: middle;}

.login{width: 300px; margin: auto;}
.login .inputs-dentro{overflow: hidden; border-radius: 3px; box-shadow: 0 2px 4px rgba(0,0,0,.3);}
.login .inputs-dentro .line{height: 1px; width: 100%; background: #DDDDDD;}
.login form input[type=submit]{border: 0; color: #FFFFFF; background: #EE264F; border-radius: 3px; font: 500 16px 'Roboto', sans-serif; box-shadow: 0 2px 4px rgba(0,0,0,.3);}
.login form input{width: 100%; height: 50px; line-height: 50px; border: 0; padding: 0 20px; color: #888888; font: normal 16px 'Roboto', sans-serif; border-radius: 0;}
.login form input::-webkit-input-placeholder{color: #888888; font: normal 16px 'Roboto', sans-serif;}
h1{color: #455A64; font: 500 22px 'Roboto', sans-serif;}
h2{color: #455A64; font: normal 16px 'Roboto', sans-serif;}


