<div class="menu-lateral criar-usuario">
  <div class="topo dt">
    <div class="dt-c">
      <div class="nome-usuario" routerLink="/{{(usuario.tipo == 3 ? 'client' : (usuario.tipo == 2 ? 'consultant' : 'manager'))}}/contact"><i class="fa fa-angle-left"> </i> Contatos</div>
    </div>
  </div>
  <div class="form-novo-aporte">
    <form #form="ngForm" (submit)="enviar(form.value)">
      <div class="row">

        <div class="lg-12 col-md-12">
          <h4>Responder contato</h4>
          <div class="mt15"></div>
        </div>
        <div class="col-lg-12 col-md-12">
          <textarea name="texto" id="texto" ngModel placeholder="Texto"></textarea>
          <div class="mt20"></div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="mt10"></div>
          <div class="line"></div>
          <div class="mt30"></div>
        </div>
        <div class="col-lg-12 col-md-12"></div>
        <div class="col-lg-6 col-md-12">
          <input type="submit" value="RESPONDER">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="area-de-trabalho novo-usuario-texto">
  <div class="text-right">
    <div class="botao-escuro" routerLink="/{{(usuario.tipo == 3 ? 'client' : (usuario.tipo == 2 ? 'consultant' : 'manager'))}}/contact">Cancelar</div>
  </div>
</div>
