<div class="topo-internas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-12">
                <div class="topo dt pd-60-left no-border">
                    <div class="dt-c">
                        <div class="nome-usuario">{{usuario.pais == 1 ? 'Applications' : 'Aportes'}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-12">
                <div class="topo dt pd-60-right no-border text-right">
                    <div class="dt-c">
                        <div class="botao-busca">
                            <form (submit)="buscar()" class="d-inline-block">
                                <label (click)="abrir_busca()" [ngStyle]="input_busca_style_abrir" for="busca">Buscar aporte</label>
                                <input type="text" [ngStyle]="input_busca_style" name="busca" id="busca" placeholder="Buscar aporte" [(ngModel)]="busca">
                            </form>
                            <i class="fa fa-close fechar" (click)="fechar_busca()" [ngStyle]="fechar_busca_style"></i>
                        </div>
                        <div class="separador-30"></div>
                        <div class="filtro-topo">
                            <p-dropdown class="clicavel" [options]="ordens" [(ngModel)]="ordem" (onChange)="ordena()"></p-dropdown>
                        </div>
                        <div class="separador-30"></div>
                        <div class="botao-verde" routerLink="/manager-create-application">{{usuario.pais == 1 ? 'New application' : 'Novo aporte'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="conteudo-internas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="destaques-150 text-center verde dt w-100">
                    <div class="dt-c">
                        <div class="centraliza">
                            <div class="descricao">{{usuario.pais == 1 ? 'All gain' : 'Total de rendimentos'}}</div>
                            <div class="mt5"></div>
                            <div class="valor">{{total_rendimentos | currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 border-laterais">
                <div class="destaques-150 text-center meio dt w-100">
                    <div class="dt-c">
                        <div class="centraliza">
                            <div class="descricao">{{usuario.pais == 1 ? 'All applications' : 'Total de aportes'}}</div>
                            <div class="mt5"></div>
                            <div class="valor">{{total_aportes | currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="destaques-150 text-center dt w-100">
                    <div class="dt-c">
                        <div class="centraliza">
                            <div class="descricao">{{usuario.pais == 1 ? 'Number of applications' : 'Número de aportes'}}</div>
                            <div class="mt5"></div>
                            <div class="valor">{{total_numero}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid tabela-responsiva">
        <div class="row topo-tabela">
            <div class="col-lg-1 col-md-12">ID</div>
            <div class="col-lg-3 col-md-12">{{usuario.pais == 1 ? 'Costumer' : 'Cliente'}}</div>
            <div class="col-lg-3 col-md-12">{{usuario.pais == 1 ? 'Consultant' : 'Consultor'}}</div>
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-md-12">{{usuario.pais == 1 ? 'Applications' : 'Aportes'}}</div>
                    <div class="col-lg-4 col-md-12">{{usuario.pais == 1 ? 'Days' : 'Dias'}}</div>
                    <div class="col-lg-4 col-md-12">{{usuario.pais == 1 ? 'Gain' : 'Rendimentos'}}</div>
                </div>
            </div>
            <div class="col-lg-2 col-md-12"></div>
        </div>
        <div class="row">
            <p-accordion class="w-100" [activeIndex]="index" [ngClass]="{'ui-state-active': '','ui-state-disabled': ''}">
                <p-accordionTab *ngFor="let aporte of aportes; let i = index">
                    <p-header>
                        <div class="container-fluid item {{(i % 2 == 0 ? '' : 'outra-cor')}}">
                            <div class="row">
                                <div class="col-lg-1 col-md-12 pd-25-left">{{(aporte.id < 10 ? '00000'+aporte.id : '0000'+aporte.id)}}</div>
                                <div class="col-lg-3 col-md-12">{{aporte.cliente_nome}} {{aporte.cliente_sobrenome}}</div>
                                <div class="col-lg-3 col-md-12">{{aporte.consultor_nome}} {{aporte.consultor_sobrenome}}</div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">{{aporte.valor_vigente | currency}}</div>
                                        <div class="col-lg-4 col-md-12">{{aporte.dias_vigente}}</div>
                                        <div class="col-lg-4 col-md-12 {{(aporte.situacao == 3 ? 'verde' : (aporte.situacao == 1 || aporte.situacao == 4 ? 'vermelho' : 'amarelo'))}}">{{aporte.valor_atual - aporte.valor_vigente | currency}}</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 analise text-right pd-25-right">
                                    <div class="analisando-aporte {{(aporte.situacao == 3 ? 'verde' : (aporte.situacao == 1 || aporte.situacao == 4 ? 'vermelho' : 'amarelo'))}}">{{(aporte.situacao == 3 ? (usuario.pais == 1 ? 'Active' : 'Ativo') : (aporte.situacao == 1 ? (usuario.pais == 1 ? 'Not vouchers' : 'Sem comprovante') : (aporte.situacao == 2 ? (usuario.pais == 1 ? 'Analyzing' : 'Analisando') : (usuario.pais == 1 ? 'Not accepted' : 'Retido'))))}}</div>
                                </div>
                            </div>
                        </div>
                    </p-header>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12"><div class="mt15"></div></div>
                            <div class="col-lg-2 col-md-12 text-right">
                                <h3>{{usuario.pais == 1 ? 'Entry date' : 'Data de entrada'}}</h3>
                            </div>
                            <div class="col-lg-10 col-md-12">
                                {{aporte.created_at | date: 'dd/MM/yyyy'}}
                            </div>
                            <div class="col-lg-12 col-md-12"><div class="mt15"></div></div>
                            <div class="col-lg-2 col-md-12 text-right">
                                <h3>{{usuario.pais == 1 ? 'Vouchers' : 'Comrpovantes'}}</h3>
                            </div>
                            <div class="col-lg-10 col-md-12">
                                <div class="row sem-estilo comprovante-aportes" *ngFor="let comprovante of aporte.comprovantes; let c = index;">
                                    <div class="col-lg-9 col-md-12">
                                        <a [href]="padroes.caminhoImagemComprovante(aporte.cliente, aporte.id, comprovante.id, comprovante.extension)" target="_blank">
                                            {{comprovante.created_at | date: 'dd/MM/yyyy'}} &bull; {{ (comprovante.usuario_tipo == 1 ? (usuario.pais == 1 ? 'Administrator' : 'Administrador') : (comprovante.usuario_tipo == 2 ? (usuario.pais == 1 ? 'Consultant' : 'Consultor') : (usuario.pais == 1 ? 'Client' : 'Cliente'))) }} &bull; {{comprovante.usuario_nome}} {{comprovante.usuario_sobrenome}}
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-12 text-right">
                                        <div class="separador-50"></div>
                                        <span class="deletar-itens" (click)="apagar_comprovante(comprovante.id, aporte.id, i)">Deletar</span>
                                    </div>
                                </div>
                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <div class="mt10"></div>
                                            <p-fileUpload class="botao-escuro" mode="basic" name="myfile[]" customUpload="true" #campo_comprovante (uploadHandler)="upload($event, aporte.id, i, campo_comprovante)" accept="image/jpg, image/jpeg, image/png, application/pdf" maxFileSize="5000000" auto="auto" chooseLabel="{{usuario.pais == 1 ? 'Insert vouchers' : 'Inserir comprovante'}}"></p-fileUpload>
                                            <div *ngIf="aporte.situacao != 1" class="separador-15"></div>
                                            <div *ngIf="aporte.situacao != 1" class="botao-ativar {{aporte.situacao == 3 ? 'aprovado' : ''}}" (click)="aprova_aporte(aporte.id, i)">
                                                {{(aporte.situacao == 3 ? usuario.pais == 1 ? 'Active Application' : 'Ativar aporte' : usuario.pais == 1 ? 'Application Active' : 'Aporte ativo')}}
                                            </div>
                                        <div class="mt15"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </p-accordionTab>
            </p-accordion>
        </div>
</div>
