<div class="menu-lateral criar-usuario">
  <div class="topo dt">
    <div class="dt-c">
      <div class="nome-usuario" routerLink="/manager/questions"><i class="fa fa-angle-left"> </i> {{usuario.pais == 1 ? 'Questions' : 'Dúvidas frequentes'}}</div>
    </div>
  </div>
  <div class="form-novo-aporte">
    <form #form="ngForm" (submit)="enviar(form.value)">
      <div class="row">

        <div class="lg-12 col-md-12">
          <h4>{{usuario.pais == 1 ? 'New question' : 'Nova dúvida frequente'}}</h4>
          <div class="mt15"></div>
        </div>
        <div class="col-lg-12 col-md-12">
          <input name="titulo" id="titulo" ngModel placeholder="{{usuario.pais == 1 ? 'Title' : 'Título'}}">
          <div class="mt20"></div>
        </div>
        <div class="col-lg-12 col-md-12">
          <textarea name="texto" id="texto" ngModel placeholder="{{usuario.pais == 1 ? 'Text' : 'Texto'}}"></textarea>
          <div class="mt20"></div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="mt10"></div>
          <div class="line"></div>
          <div class="mt30"></div>
        </div>
        <div class="col-lg-12 col-md-12"></div>
        <div class="col-lg-6 col-md-12">
          <input type="submit" value="{{usuario.pais == 1 ? 'Create question' : 'Criar dúvida'}}">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="area-de-trabalho novo-usuario-texto">
  <div class="text-right">
    <div class="botao-escuro"  routerLink="/manager/questions">{{usuario.pais == 1 ? 'Cancel' : 'Cancelar'}}</div>
  </div>
</div>
