<div class="topo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <div class="topo dt pd-60-left no-border">
          <div class="dt-c">
            <div class="nome-usuario">{{usuario.pais == 1 ? 'Administrators' : 'Franqueados'}} <strong>{{franqueados.length}}</strong></div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-xs-12">
        <div class="topo dt pd-60-right no-border text-right">
          <div class="dt-c">
            <div class="botao-verde" routerLink="/create-user/4">{{usuario.pais == 1 ? 'New franchisee' : 'Novo franqueado'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="conteudo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-xs-12">
        <div class="destaques-150 text-center verde dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="descricao">{{usuario.pais == 1 ? 'All Administrators' : 'Total de franqueadoes'}}</div>
              <div class="mt5"></div>
              <div class="valor">{{total_franqueados}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12 border-laterais">
        <div class="destaques-150 text-center meio dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="descricao">{{usuario.pais == 1 ? 'All Applications' : 'Total de aportes'}}</div>
              <div class="mt5"></div>
              <div class="valor">{{total_aportes | currency}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="destaques-150 text-center dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="descricao">{{usuario.pais == 1 ? 'All Gain' : 'Total de rendimentos'}}</div>
              <div class="mt5"></div>
              <div class="valor">{{total_rendimentos | currency}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid tabela-responsiva">
  <div class="row topo-tabela">
    <div class="col-lg-1 col-md-12 pd-25-left">ID</div>
    <div class="col-lg-9 col-md-12">{{usuario.pais == 1 ? 'Name' : 'Nome'}}</div>
    <div class="col-lg-2 col-md-12 text-right pd-25-right">{{usuario.pais == 1 ? 'Contract' : 'Contrato'}}</div>
  </div>
  <div class="row">
    <p-accordion class="w-100" [activeIndex]="index" [ngClass]="{'ui-state-active': '','ui-state-disabled': ''}">
      <p-accordionTab *ngFor="let franqueado of franqueados; let i = index">
        <p-header>
          <div class="container-fluid item">
            <div class="row">
              <div class="col-lg-1 col-md-12 pd-25-left">{{(franqueado.id < 10 ? '00000'+franqueado.id : '0000'+franqueado.id)}}</div>
              <div class="col-lg-9 col-md-12">{{(franqueado.pais == 'Inglaterra' ? franqueado.title : '')}} {{franqueado.nome}} {{franqueado.sobrenome}}</div>
              <div class="col-lg-2 col-md-12 text-right pd-25-right">
                <div class="analisando-aporte {{(franqueado.ativo == 1 ? 'verde' : 'vermelho')}}">{{(franqueado.ativo == 1 ? (usuario.pais == 1 ? 'Active' : 'Ativo') : (usuario.pais == 1 ? 'Desactive' : 'Desativado'))}}</div>
              </div>
            </div>
          </div>
        </p-header>


        <div class="container-fluid">
          <div *ngIf="franqueado.pais" class="row">
            <div class="col-lg-2 col-md-12 text-right">
              <div class="mt15"></div>
              <h3>País</h3>
              <div class="mt15"></div>
            </div>
            <div class="col-lg-10 col-md-12">
              <div class="line"></div>
              <div class="mt15"></div>
              {{franqueado.pais}}
              <div class="mt15"></div>
              <div class="line"></div>
            </div>
          </div>
          <div *ngIf="franqueado.email" class="row">
            <div class="col-lg-2 col-md-12 text-right">
              <div class="mt15"></div>
              <h3>E-mail</h3>
              <div class="mt15"></div>
            </div>
            <div class="col-lg-10 col-md-12">
              <div class="mt15"></div>
              {{franqueado.email}}
              <div class="mt15"></div>
              <div class="line"></div>
            </div>
          </div>
          <div *ngIf="franqueado.banco && franqueado.agencia && franqueado.conta_corrente" class="row">
            <div class="col-lg-2 col-md-12 text-right">
              <div class="mt15"></div>
              <h3>{{usuario.pais == 1 ? 'Account bank' : 'Conta Bancária'}}</h3>
              <div class="mt15"></div>
            </div>
            <div class="col-lg-10 col-md-12">
              <div class="mt15"></div>
              {{franqueado.banco}}  ·  {{usuario.pais == 1 ? 'Agency' : 'Agência'}} {{franqueado.agencia}}  ·  {{usuario.pais == 1 ? 'Account' : 'Conta'}} {{franqueado.conta_corrente}}
              <div class="mt15"></div>
              <div class="line"></div>
            </div>
          </div>
          <div *ngIf="franqueado.conta_bitcoin" class="row">
            <div class="col-lg-2 col-md-12 text-right">
              <div class="mt15"></div>
              <h3>{{usuario.pais == 1 ? 'Account bitcoin' : 'Conta Bitcoin'}}</h3>
              <div class="mt15"></div>
            </div>
            <div class="col-lg-10 col-md-12">
              <div class="mt15"></div>
              {{franqueado.conta_bitcoin}}
              <div class="mt15"></div>
              <div class="line"></div>
            </div>
          </div>
          <div class="row">
            <div *ngIf="!franqueado.banco && !franqueado.conta_bitcoin && !franqueado.email && !franqueado.pais" class="col-md-10 offset-md-2">
              <div class="line"></div>
            </div>
            <div class="col-md-12 text-right">
              <div class="mt15"></div>
              <div class="botao-escuro" [routerLink]="['/user-edit', '4', franqueado.id]">{{usuario.pais == 1 ? 'Edit data' : 'Editar dados'}}</div>
              <div class="separador-15"></div>
              <div *ngIf="franqueado.ativo == 1" class="botao-escuro" (click)="certeza_abre(franqueado.id, i, null, 1)">{{usuario.pais == 1 ? 'Desable access' : 'Desativar acesso'}}</div>
              <div *ngIf="franqueado.ativo == 0" class="botao-escuro" (click)="certeza_abre(franqueado.id, i, null, 2)">{{usuario.pais == 1 ? 'Active access' : 'Reativar acesso'}}</div>
              <div class="separador-15"></div>
            </div>

          </div>
        </div>

      </p-accordionTab>
    </p-accordion>
  </div>
</div>

<div [ngStyle]="style_certeza" class="tem-certeza text-center">
  <h5>Tem certeza que deseja<bR>
    fazer esta operação?</h5>
  <div class="mt30"></div>
  <div class="botao-escuro" (click)="(editar_item.id_item == null ? cancela_certeza() : (editar_item.funcao == 1 ? desativar_usuario(editar_item.id_item, editar_item.index_item) : ativar_usuario(editar_item.id_item, editar_item.index_item)))">Sim, tenho</div>
  <div class="separador-15"></div>
  <div class="botao-ativar azul" (click)="cancela_certeza()">Cancelar</div>
</div>
