<div class="menu-lateral">
  <div class="topo dt">
    <div class="dt-c cursor-pointer">
        <img src="../../assets/logo-principal.png" alt="Logo London Invest">
    </div>
  </div>
  <div class="links-lateral">
    <div class="item" routerLink="initial" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Simulate' : 'Simulações'}}</div>
    <div class="item" routerLink="applications" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Applications' : 'Aportes'}} <span>{{novos_aportes}}</span></div>
    <div class="item" routerLink="news-withdrawal-costumers" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Withdrawal costumers' : 'Saque cliente'}} <span>{{saques_cliente}}</span></div>
    <div class="item" routerLink="news-withdrawal-consultants" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Withdrawal consultants' : 'Saque consultor'}} <span>{{saques_consultor}}</span></div>
    <div class="item" routerLink="extract" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Extract' : 'Movimentações'}}</div>
    <div class="mt20"></div>
    <div class="separador-menu"></div>
    <div class="mt20"></div>
    <div class="item" routerLink="withdrawal" routerLinkActive="ativo">{{usuario.pais == 1 ? 'My gain' : 'Meus rendimentos'}}</div>
    <div class="item" routerLink="costumers" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Costumers' : 'Clientes'}}</div>
    <div class="item" routerLink="consultants" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Consultants' : 'Consultores'}}</div>
    <div class="mt20"></div>
    <div class="separador-menu"></div>
    <div class="mt20"></div>
    <div class="item" routerLink="questions" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Questions' : 'Dúvidas frequentes'}}</div>
    <div class="item" routerLink="/change-password" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Edit password' : 'Editar senha'}}</div>
    <div class="item" (click)="sair()">{{usuario.pais == 1 ? 'Logout' : 'Sair'}}</div>
    <!--<div class="item" routerLink="">{{usuario.pais == 1 ? 'Send message' : 'Enviar mensagem'}}</div>-->
    <!--<div class="item" routerLink="contact" routerLinkActive="ativo">Contato <span>{{contato}}</span></div>-->
  </div>
</div>
<div class="area-de-trabalho">
  <router-outlet></router-outlet>
</div>
