<div class="topo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <div class="topo dt pd-60-left no-border">
          <div class="dt-c">
            <div class="nome-usuario">{{usuario.pais == 1 ? 'Withdrawal costumers' : 'Saque de clientes'}}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-xs-12">
      </div>
    </div>
  </div>
</div>
<div class="conteudo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="destaques-150 text-center verde dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="valor">{{solicitacoes_liberadas}}</div>
              <div class="mt5"></div>
              <div class="descricao">{{usuario.pais == 1 ? 'Ready to withdrawal' : 'Liberados para saque'}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 border-laterais">
        <div class="destaques-150 text-center meio dt w-100">
          <div class="dt-c">
            <div class="centraliza">
              <div class="valor">{{total_solicitacoes}}</div>
              <div class="mt5"></div>
              <div class="descricao">{{usuario.pais == 1 ? 'Solicit to withdrawal' : 'Solicitações de saque'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid tabela-responsiva">
  <div class="row topo-tabela">
    <div class="col-lg-1 col-md-12 pd-25-left">ID</div>
    <div class="col-lg-2 col-md-12">{{usuario.pais == 1 ? 'Date' : 'Data'}}</div>
    <div class="col-lg-3 col-md-12">{{usuario.pais == 1 ? 'Client' : 'Cliente'}}</div>
    <div class="col-lg-1 col-md-12">{{usuario.pais == 1 ? 'Days' : 'Dias'}}</div>
    <div class="col-lg-2 col-md-12">{{usuario.pais == 1 ? 'Value solicited' : 'Valor solicitado'}}</div>
    <div class="col-lg-3 col-md-12 text-right pd-25-right">{{usuario.pais == 1 ? 'Situation' : 'Situação'}}</div>
  </div>
  <div class="row">
    <div *ngFor="let saque of saques; let i = index" class="border-bottom col-md-12 item {{(i % 2 == 0 ? '' : 'outra-cor')}}">
      <div class="row">
        <div class="col-lg-1 col-md-12 pd-25-left">{{saque.id}}</div>
        <div class="col-lg-2 col-md-12">{{saque.created_at | date: 'dd/MM/yyyy'}}</div>
        <div class="col-lg-3 col-md-12">{{saque.cliente_nome}} {{saque.cliente_sobrenome}}</div>
        <div class="col-lg-1 col-md-12">{{saque.aporte_dias_vigente}}</div>
        <div class="col-lg-2 col-md-12">{{saque.valor}}</div>
        <div class="col-lg-3 col-md-12 text-right pd-25-right {{(saque.situacao == 1 ? '' : 'verde')}}">{{(saque.situacao == 1 ? 'EM PROCESSAMENTO' : 'DEPOSITADO'+saque.data_deposito | date: 'dd/MM/yyyy')}}</div>
      </div>
    </div>
  </div>
</div>
