<div class="menu-lateral criar-aporte">
  <div class="topo dt">
    <div class="dt-c">
      <div class="nome-usuario" routerLink="/manager/applications"><i class="fa fa-angle-left"> </i> {{usuario.pais == 1 ? 'New application' : 'Novo aporte'}}</div>
    </div>
  </div>
  <div class="form-novo-aporte">
    <form action="" #form="ngForm" (submit)="criar_aporte(form.value)">
      <select name="cliente" ngModel id="cliente" #o_cliente (change)="trocou_cliente(o_cliente.value)">
        <option value="">{{usuario.pais == 1 ? 'Select a client' : 'Selecione um cliente'}}</option>
        <option *ngFor="let cli of clientes; let cli_index = index" value="{{cli.id}}">{{cli.nome}} {{cli.sobrenome}}</option>
      </select>
      <div class="mt20"></div>
      <select name="consultor" ngModel id="consultor" [(ngModel)]="consultor_do_cliente">
        <option value="">{{usuario.pais == 1 ? 'Select a consultant' : 'Selecione um consultor'}}</option>
        <option *ngFor="let cons of consultores; let cons_index = index" value="{{cons.id}}">{{cons.nome}} {{cons.sobrenome}}</option>
      </select>
      <div class="mt20"></div>
      <input type="text" ngModel name="valor" id="valor" placeholder="{{usuario.pais == 1 ? 'Insert a value' : 'Insira um valor'}}">
      <div class="mt20"></div>
      <input type="submit" value="{{usuario.pais == 1 ? 'CREATE APPLICATION' : 'CRIAR APORTE'}}">
    </form>
  </div>
</div>
<div class="area-de-trabalho novo-aporte-texto">
  <div class="text-right">
    <div class="botao-escuro" routerLink="/manager/new-applications">{{usuario.pais == 1 ? 'Cancel' : 'Cancelar'}}</div>
  </div>
  <div class="mt30"></div>
  <h4>{{usuario.pais == 1 ? 'Note' : 'Observações'}}</h4>
  <div class="mt15"></div>
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <p *ngIf="usuario.pais == 1">
            If the name does not appear in the customer list, it has not yet been created. To create a new <strong>click here.</strong><br><br>
            The minimum value for contribution is $ 200.00 dollar, the system will not accept values less than this. <br><bR>
            The date selected is only the insert date, not the yield date. After 5 business days the value will begin to render.
          </p>
          <p *ngIf="usuario.pais == 2">
            Caso o nome não apareça na lista de clientes, é porque ainda não foi criado. Para criar um novo <strong>clique aqui.</strong><br><br>
            O valor mínimo para aporte é de $ 200,00 dollar, o sistema não vai aceitar valores menos que este.<br><bR>
            A data selecionada é apenas a de inserção, não de rendimentos. Após 5 dias úteis o valor começará a render.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
