<div class="topo-internas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <div class="topo dt pd-60-left no-border">
          <div class="dt-c">
            <div class="nome-usuario">{{usuario.pais == 1 ? 'Withdrawal franchisee' : 'Saque de franqueados'}}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-xs-12">
        <!--<div class="topo dt pd-60-right no-border text-right">-->
        <!--<div class="dt-c">-->
        <!--<div class="botao-busca"><i class="fa fa-search"></i></div>-->
        <!--<div class="separador-40"></div>-->
        <!--<div class="filtro-topo">-->
        <!--<div class="clicavel">Últimos cadastros <i class="fa fa-chevron-down"></i></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid tabela-responsiva sem-collapse">
  <div class="row topo-tabela">
    <div class="col-lg-1 col-md-12">ID</div>
    <div class="col-lg-2 col-md-12">{{usuario.pais == 1 ? 'Requests' : 'Solicitações'}}</div>
    <div class="col-lg-3 col-md-12">{{usuario.pais == 1 ? 'Consultant' : 'Consultor'}}</div>
    <div class="col-lg-3 col-md-12">{{usuario.pais == 1 ? 'Value request' : 'Valor solicitado'}}</div>
    <div class="col-lg-3 col-md-12 text-right"></div>
  </div>
  <div class="item" *ngFor="let saque of saques; let i = index">
    <div class="row">
      <div class="col-lg-1 col-md-12 pd-25-left">{{(saque.id < 10 ? '00000'+saque.id : '0000'+saque.id)}}</div>
      <div class="col-lg-2 col-md-12">{{saque.created_at | date: 'dd/MM/yyyy'}}</div>
      <div class="col-lg-3 col-md-12">{{saque.consultor_nome}} {{saque.consultor_sobrenome}}</div>
      <div class="col-lg-3 col-md-12 text-right {{saque.situacao == 1 ? '' : 'verde'}}">{{saque.valor | currency}}</div>
      <div class="col-lg-3 col-md-12 text-right">
        <p *ngIf="saque.situacao == 2">{{usuario.pais == 1 ? 'Value deposit in day' : 'Valor depositado no dia'}} {{saque.data_deposito | date: 'dd/MM/yyyy'}}</p>
        <div *ngIf="saque.situacao == 1" class="botao-escuro" (click)="confirmar_deposito(saque.id, i)">{{usuario.pais == 1 ? 'CONFIRM DESPOSIT' : 'CONFIRMAR DEPOSITO'}}</div>
      </div>
    </div>
  </div>
</div>
