*{transition: all .3s ease-in-out; box-sizing: border-box;}
html, body{padding: 0; margin: 0;}

h1, h2, h3, h4, h5, h6{margin: 0; padding: 0;}

div h3{color: #0D2E51; font: 500 14px 'Roboto', sans-serif; margin: 0; vertical-align: middle; display: inline-block;}
h4{color: #455A64; font: 600 18px 'Roboto', sans-serif;}
h5{color: #0D2E51; font: 500 30px 'Roboto', sans-serif;}
h6{color: #0D2E51; font: normal 14px 'Roboto', sans-serif;}
h6 small{color: #0D2E51; font: 500 25px 'Roboto', sans-serif;}
h6 strong{color: #1EBBA4; font: bold 40px 'Roboto', sans-serif;}

p{font: normal 15px 'Roboto', sans-serif; color: #888888; margin: 0 !important; padding: 0 !important;}
p strong{color: #EE264F;}

.mt5{margin-top: 5px;}.mt10{margin-top: 10px;}.mt15{margin-top: 15px;}.mt20{margin-top: 20px;}.mt25{margin-top: 25px;}.mt30{margin-top: 30px;}.mt35{margin-top: 35px;}.mt40{margin-top: 40px;}.mt45{margin-top: 45px;}.mt50{margin-top: 50px;}.mt55{margin-top: 55px;}.mt60{margin-top: 60px;}.mt65{margin-top: 65px;}.mt70{margin-top: 70px;}.mt75{margin-top: 75px;}.mt80{margin-top: 80px;}.mt85{margin-top: 85px;}.mt90{margin-top: 90px;}.mt95{margin-top: 95px;}.mt100{margin-top: 100px;}.mt105{margin-top: 105px;}.mt110{margin-top: 110px;}.mt115{margin-top: 115px;}.mt120{margin-top: 120px;}.mt125{margin-top: 125px;}.mt130{margin-top: 130px;}.mt135{margin-top: 135px;}.mt140{margin-top: 140px;}.mt145{margin-top: 145px;}.mt150{margin-top: 150px;}.mt155{margin-top: 155px;}.mt160{margin-top: 160px;}.mt165{margin-top: 165px;}.mt170{margin-top: 170px;}.mt175{margin-top: 175px;}.mt180{margin-top: 180px;}.mt185{margin-top: 185px;}.mt190{margin-top: 190px;}.mt195{margin-top: 195px;}.mt200{margin-top: 200px;}.mt205{margin-top: 205px;}.mb5{margin-bottom: 5px;}.mb10{margin-bottom: 10px;}.mb15{margin-bottom: 15px;}.mb20{margin-bottom: 20px;}.mb25{margin-bottom: 25px;}.mb30{margin-bottom: 30px;}.mb35{margin-bottom: 35px;}.mb40{margin-bottom: 40px;}.mb45{margin-bottom: 45px;}.mb50{margin-bottom: 50px;}.mb55{margin-bottom: 55px;}.mb60{margin-bottom: 60px;}.mb65{margin-bottom: 65px;}.mb70{margin-bottom: 70px;}.mb75{margin-bottom: 75px;}.mb80{margin-bottom: 80px;}.mb85{margin-bottom: 85px;}.mb90{margin-bottom: 90px;}.mb95{margin-bottom: 95px;}.mb100{margin-bottom: 100px;}.mb105{margin-bottom: 105px;}.mb110{margin-bottom: 110px;}.mb115{margin-bottom: 115px;}.mb120{margin-bottom: 120px;}.mb125{margin-bottom: 125px;}.mb130{margin-bottom: 130px;}.mb135{margin-bottom: 135px;}.mb140{margin-bottom: 140px;}.mb145{margin-bottom: 145px;}.mb150{margin-bottom: 150px;}.mb155{margin-bottom: 155px;}.mb160{margin-bottom: 160px;}.mb165{margin-bottom: 165px;}.mb170{margin-bottom: 170px;}.mb175{margin-bottom: 175px;}.mb180{margin-bottom: 180px;}.mb185{margin-bottom: 185px;}.mb190{margin-bottom: 190px;}.mb195{margin-bottom: 195px;}.mb200{margin-bottom: 200px;}.mb205{margin-bottom: 205px;}

.padding-dif-50{padding: 0 25px 0 25px !important; border-right: 1px solid #EEEEEE; position: absolute !important; height: 100%;}
.padding-dif-25{padding: 0 15px 0 25px !important; position: absolute !important; height: 100%; right: 0;}
.padding-0{padding: 0 !important;}

.depositos{position: absolute; bottom: 30px; width: 100%; box-sizing: border-box; left: 0; padding: 0 25px;}
.depositos .titulo-deposito{color: #0D2E51; font: 500 17px 'Roboto', sans-serif;}
.depositos .caixas{background: #F3F3F3; padding: 20px; border-radius: 3px;}
.depositos .titulo-caixas{color: #EE264F; font: 500 17px 'Roboto', sans-serif;}
.depositos .texto-caixas{color: #0D2E51; font: normal 14px 'Roboto', sans-serif;}
.depositos .texto-caixas strong{color: #0D2E51; font: 500 14px 'Roboto', sans-serif;}

.dt{display: table;}
.dt .dt-b{display: table-cell; vertical-align: bottom;}
.dt .dt-c{display: table-cell; vertical-align: middle;}

/*.barra-lateral{background: #EE264F; width: 10px; position: absolute; left: 0; top: 0; bottom: 0;}*/
/*.barra-lateral{background: #EE264F; width: 60px; position: absolute; left: 0; top: 0; bottom: 0;}*/
.barra-lateral{display: none !important;}
.barra-lateral img{display: block; margin: auto;}
.barra-lateral .separador{background: rgba(255,255,255,.1); width: 100%; height: 1px;}
.barra-lateral .item{padding: 20px 0;}
.barra-lateral .item:hover{background: rgba(0,0,0,.1)}

.line{height: 1px; width: 100%; background: #EEEEEE;}

.esqueci-senha{color: #FFFFFF; text-align: center;}

.menu-lateral.criar-aporte .nome-usuario, .menu-lateral.criar-usuario .nome-usuario{color: #FFFFFF;}
.menu-lateral.criar-aporte .form-novo-aporte .row, .menu-lateral.criar-usuario .form-novo-aporte .row{padding: -25px 0;}
.menu-lateral.criar-aporte .topo, .menu-lateral.criar-usuario .topo{border-bottom: 1px solid rgba(255,255,255,.05);}
.menu-lateral.criar-usuario h4, .menu-lateral.criar-aporte h4{color: #7E9CBB; font-size: 17px;}
.menu-lateral.criar-usuario .line, .menu-lateral.criar-aporte .line{background: rgba(255,255,255,.05)}
.menu-lateral.criar-usuario .form-novo-aporte input, .menu-lateral.criar-usuario .form-novo-aporte select, .menu-lateral.criar-usuario .form-novo-aporte .ui-inputtext, .menu-lateral.criar-aporte .form-novo-aporte input, .menu-lateral.criar-aporte .form-novo-aporte select, .menu-lateral.criar-aporte .form-novo-aporte .ui-inputtext{border: 0;}
.menu-lateral.criar-aporte{width: 340px; position: absolute; top: 0; left: 0; bottom: 0; background: #0D2E51;}
.menu-lateral.criar-usuario{width: 700px; position: absolute; top: 0; left: 0; bottom: 0; background: #0D2E51; height: 100%; overflow: auto;}
.menu-lateral{width: 260px; position: fixed; top: 0; left: 0; bottom: 0; background: #0D2E51; overflow: auto;}
.links-lateral{padding: 20px 10px;}
.links-lateral .item{padding: 10px 15px; color: #8A9FC4; font: normal 14px 'Roboto', sans-serif; position: relative; cursor: pointer; outline: none !important;}
.links-lateral .item:hover, .links-lateral .item.ativo{color: #FFFFFF;}
.links-lateral .item span{color: #EE2663; font-size: 15px; font-weight: 500; position: absolute; right: 15px;}

.menu-lateral .ui-overlaypanel {top: 60px !important; width: 86% !important; left: 7% !important;}
.menu-lateral .ui-overlaypanel .ui-overlaypanel-content {padding: 0 !important;}
.menu-lateral .ui-overlaypanel .ui-overlaypanel-content span {padding: 15px !important; display: block; color: #E83D32; font: 500 16px 'Roboto', sans-serif;}

.menu-lateral:not(.criar-aporte):not(.criar-usuario) .topo.dt{border-color: rgba(255,255,255,.1); position: relative;}
.menu-lateral:not(.criar-aporte):not(.criar-usuario) .topo.dt::before{content: " "; position: absolute; top: 50%; transform: translate(0px, -50%); right: 15px; background: url("../src/assets/lado-menu.png"); width: 4px; height: 16px;}

.area-de-trabalho{position: absolute; top: 0; left: 260px; right: 0; bottom: 0; overflow-x: auto;}
.area-de-trabalho.novo-aporte-texto{position: absolute; top: 0; left: 340px; right: 0; bottom: 0; overflow-x: auto; padding: 15px 15px 15px 70px;}
.area-de-trabalho.novo-usuario-texto{position: absolute; top: 0; left: 700px; right: 0; bottom: 0; overflow-x: auto; padding: 15px 15px 15px 70px;}

.form-novo-aporte{padding: 20px;}
.form-novo-aporte.sacar{padding: 0;}
.form-novo-aporte.sacar input{border-color: #999999; border-radius: 3px;}
.form-novo-aporte input, .form-novo-aporte select, .form-novo-aporte .ui-inputtext{width: 100%; height: 45px; line-height: 45px; padding: 0 15px; background: #FFFFFF; font: normal 16px 'Poppins', sans-serif; color: #999999; border: 2px solid #DDDDDD; border-radius: 4px;}
.form-novo-aporte textarea{width: 100%; height: 300px; line-height: 120%; padding: 15px; background: #FFFFFF; font: normal 16px 'Poppins', sans-serif; color: #999999; border: 2px solid #DDDDDD; border-radius: 4px;}
.form-novo-aporte input[type=submit]{background: #EE264F; color: #FFFFFF; line-height: 40px !important; height: 40px; padding: 0 25px; display: inline-block; border-radius: 3px; box-shadow: 0 2px 2px rgba(0,0,0,.1); cursor: pointer; border: 0; font-size: 14px;}
.form-novo-aporte input:hover, .form-novo-aporte select:hover, .form-novo-aporte body .ui-inputtext:enabled:hover:not(.ui-state-error){ border-color: #9B9B9B !important;}
.form-novo-aporte input::-webkit-input-placeholder, .form-novo-aporte select option, .form-novo-aporte textarea::-webkit-input-placeholder{font: normal 16px 'Poppins', sans-serif; color: #999999;}
.form-novo-aporte .ui-calendar{width: 100%;}

.topo{height: 60px; padding: 0 25px; border-bottom: 1px solid #EEEEEE; width: 100%;}
.topo.no-border{border-bottom: 0 !important;}
.cargo{color: #999999; font: normal 13px 'Roboto', sans-serif;}
.nome-usuario{color: #0D2E51; font: 500 20px 'Roboto', sans-serif;}
.titulo-duvidas{color: #0D2E51; font: normal 14px 'Roboto', sans-serif; line-height: 50px !important;}
.nome-usuario strong{color: #EE2663; font: 500 20px 'Roboto', sans-serif;}

.pd-60-left{padding-left: 60px !important;}
.pd-60-right{padding-right: 60px !important;}
.pd-25-left{padding-left: 25px !important;}
.pd-25-right{padding-right: 25px !important;}

.topo-internas{border-bottom: 1px solid #EEEEEE; margin-bottom: -1px;}
.conteudo-internas{background: #EEEEEE; padding: 25px;}



.botao-verde{background: #EE264F; color: #FFFFFF; line-height: 40px !important; height: 40px; padding: 0 30px; display: inline-block; border-radius: 3px; box-shadow: 0 2px 2px rgba(0,0,0,.1); cursor: pointer; font: 500 12px 'Roboto', sans-serif;}
.botao-escuro{color: #FFFFFF; line-height: 40px !important; height: 40px; vertical-align: middle; display: inline-block; border-radius: 3px; background: #EE264F; text-align: center; padding: 0 20px; font: 500 14px 'Roboto', sans-serif; cursor: pointer;}
.botao-escuro:hover{color: #FFFFFF; background: #ee0a45;}
.botao-ativar{color: #7E9CBB; line-height: 40px !important; height: 40px; vertical-align: middle; display: inline-block; border-radius: 3px; background: transparent; border: 1px solid #7E9CBB; text-align: center; padding: 0 20px; font: 500 14px 'Roboto', sans-serif; cursor: pointer;}
.botao-ativar.verde{color: #FFFFFF; line-height: 40px !important; height: 40px; vertical-align: middle; display: inline-block; border-radius: 3px; background: #1EBBA4; border: 1px solid #1EBBA4; text-align: center; padding: 0 20px; font: 500 14px 'Roboto', sans-serif; cursor: pointer;}
.botao-ativar.azul{color: #FFFFFF; line-height: 40px !important; height: 40px; vertical-align: middle; display: inline-block; border-radius: 3px; background: #0D2E51; border: 1px solid #0D2E51; text-align: center; padding: 0 20px; font: 500 14px 'Roboto', sans-serif; cursor: pointer;}
.botao-ativar.aprovado{color: #EEEEEE; border: 1px solid #EEEEEE; pointer-events: none;}
.botao-ativar:hover{color: #FFFFFF; background: #7E9CBB;}
.botao-ativar.verde:hover{color: #1EBBA4; background: transparent;}
.botao-ativar.azul:hover{color: #0D2E51; background: transparent;}
.botao-busca{color: #0D2E51; overflow: hidden; position: relative; min-width: 40px; vertical-align: middle; display: inline-block; text-align: center;}
.botao-busca input{line-height: 30px !important; height: 30px; border: 0; box-shadow: none;}
.botao-busca input:focus{outline: none;}
.botao-busca .fa.fechar{position: absolute; top: 50%; right: 10px; transform: translate(0px, -50%);}
.botao-busca .fa{position: relative; top: -3px; cursor: pointer; height: 40px; width: 40px; line-height: 40px !important; margin: 0 -15px;}
.botao-busca label{height: 40px; width: auto; line-height: 40px !important; display: inline-block; color: #0D2E51; font: normal 15px 'Roboto', sans-serif; cursor: pointer; margin: 0;}

.separador-15{padding-left: 15px; display: inline-block;}
.separador-30{padding-left: 30px; display: inline-block;}
.separador-40{padding-left: 40px; display: inline-block;}
.separador-50{padding-left: 50px; display: inline-block;}

.filtro-topo{display: inline-block;vertical-align: middle;}
.filtro-topo p-dropdown.clicavel .ui-dropdown{display: inline-block; font: normal 16px 'Roboto', sans-serif; color: #455A64; border: 0 !important; vertical-align: middle; height: 40px; line-height: 40px !important; cursor: pointer; width: auto !important;}
.filtro-topo p-dropdown.clicavel .ui-inputtext{display: inline-block; font: normal 15px 'Roboto', sans-serif; color: #0D2E51; border: 0 !important; vertical-align: middle; height: 40px; line-height: 40px !important; cursor: pointer; position: relative; top: -9px; padding-right: 25px;}
.filtro-topo p-dropdown.clicavel .pi-chevron-down:before{font-size: 10px; color: #455A64;}
.filtro-topo p-dropdown.clicavel .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{margin: 0 !important; transform: translate(-90%, -75%);}
.filtro-topo p-dropdown.clicavel .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, .filtro-topo p-dropdown.clicavel .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight{background: transparent; color: #EE2663; font: 500 15px 'Roboto', sans-serif;}
.filtro-topo p-dropdown.clicavel .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover, .filtro-topo p-dropdown.clicavel .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group:not(.ui-state-highlight):not(.ui-state-disabled):hover {color: #EE2663; background-color: #FFFFFF; transition: .02s ease-in-out;}

p-fileUpload.botao-escuro .ui-button.ui-button-text-icon-left .ui-button-text{background-color: transparent; color: #FFFFFF; padding:0; font-size: 14px;}
p-fileUpload.botao-escuro .ui-button-icon-only .ui-button-icon-left, p-fileUpload.botao-escuro .ui-button-text-icon-left .ui-button-icon-left, p-fileUpload.botao-escuro .ui-button-text-icon-right .ui-button-icon-right{display: none;}
p-fileUpload.botao-escuro .ui-button {background-color: transparent; border: 0; font: 600 12px 'Roboto', sans-serif;}
p-fileUpload.botao-escuro:hover .ui-fileupload-choose:not(.ui-state-disabled) {background-color: transparent !important; color: #ffffff !important; border-color: transparent !important;}
p-fileUpload.botao-escuro:hover .ui-button.ui-button-text-icon-left .ui-button-text {background-color: transparent !important; color: #ffffff !important; border-color: transparent !important;}
p-fileUpload.botao-escuro .ui-button.ui-button-text-icon-left .ui-button-text {position: relative; height: 38px; line-height: 38px !important; padding: 0 20px; margin: 0 -20px;}

.separador-menu{padding: 0 15px;}
.separador-menu:after{height: 1px; width: 100%; background: rgba(255,255,255,.05); content: " "; display: block;}

.destaques-150{height: 100px; background: #0D2E51; border-radius: 3px; text-align: left !important; padding: 0 30px;}
.destaques-150.text-center{text-align: left !important;}
.destaques-150.verde{background: #1EBBA4;}
.destaques-150.vermelho{}
.destaques-150 .valor{color: #FFFFFF; font: 300 35px 'Roboto', sans-serif;}
.destaques-150 .descricao{color: #FFFFFF; font: normal 13px 'Roboto', sans-serif;}

.border-laterais{border: 1px solid #EEEEEE; border-top: 0; border-bottom: 0;}

.w-100{width: 100%;}
.tabela-responsiva .row:not(.nao-estilizado).comprovante-aportes{border-bottom: 1px solid #EEEEEE !important; line-height: 120% !important; min-height: auto !important; padding-bottom: 15px; margin: 0;}
.comprovante-aportes *{color: #EE2663 !important; padding: 0 !important;}

.deletar-itens{color: #EE2663; font-size: 14px; cursor: pointer;}

body .ui-datepicker:not(.ui-datepicker-inline){left: auto !important; right: 0 !important;}

*{outline: none !important; text-decoration: none !important;}

/*  TABELAS  */

p-accordion{padding: 0 25px;}
p-accordionTab{border: 1px solid #EEEEEE !important; margin-bottom: 5px; display: block; border-radius: 3px;}
p-accordionTab:hover{box-shadow: 0 2px 6px #B7C8DB; position: relative; z-index: 9;}
p-accordionTab p-header{outline: none; border: 0;}
p-accordionTab a{padding: 0 !important; border: 0 !important; color: #455A64 !important; background-color: #FFFFFF !important; font-weight: 400 !important; transition: none !important;}
p-accordionTab a .ui-accordion-toggle-icon{display: none !important;}
body .ui-accordion .ui-accordion-content{border: 0 !important; padding: 10px;}
body .ui-accordion .ui-accordion-content div:not(.botao-ativar):not(.botao-escuro){line-height: 120% !important;}
body .ui-accordion .ui-accordion-header{border: 0 !important; margin: 0!important; outline: none !important;}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .row:not(.nao-estilizado){position: relative;}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .row:not(.nao-estilizado)::after{height: 1px; background: #EEEEEE !important; width: 96.4%; display: block; content: " "; position: absolute; bottom: 0; left: 1.8%;}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .row .col-md-12 div:not(.botao-escuro):not(.sem-estilo){border-bottom: 0 !important;}

.tabela-responsiva.sem-collapse{padding: 0 25px;}
.tabela-responsiva.sem-collapse .topo-tabela{padding: 0 25px;}
.tabela-responsiva.sem-collapse .item{border: 1px solid #EEEEEE !important; margin-bottom: 5px; display: block; border-radius: 3px; padding: 0 25px 0 25px;}

.tabela-responsiva .row:not(.nao-estilizado){line-height: 50px !important; min-height: 50px; outline: none; border: 0 !important;}
.tabela-responsiva .row .col-md-12 div:not(.botao-escuro):not(.botao-ativar):not(.botao-escuro):not(.sem-estilo){border-bottom: 0 !important;}
.tabela-responsiva .topo-tabela{color: #455A64; font: 500 14px 'Roboto', sans-serif; padding: 0 25px !important}
.tabela-responsiva .item {color: #455A64; font: normal 14px 'Roboto', sans-serif;}
.tabela-responsiva .item:focus {outline: none; border: 0;}
.tabela-responsiva .analise{font-size: 12px; vertical-align: middle;}

.verde{color: #14B88B;}
.vermelho{color: #E83D32;}
.amarelo{color: #F8BF06;}

.analisando-aporte{display: inline-block; height: 23px; line-height: 23px !important; padding: 0 10px; color: #FFFFFF; border-radius: 100px;}
.analisando-aporte.verde{background: #14B88B;}
.analisando-aporte.vermelho{background: #7E9CBB;}
.analisando-aporte.amarelo{background: #0D2E51;}

.pn{pointer-events: none; cursor: none;}
.cursor-pointer{cursor: pointer;}

.cotacao, .simulando{display: inline-block; width: auto; margin-right: 30px;}
.cotacao h6{margin-bottom:0;}
.cotacao-valor{color: #1EBBA4; font: 500 17px 'Roboto', sans-serif;}
.valor_cotacao{color: #1EBBA4; font: bold 25px 'Roboto', sans-serif;}

.ui-dropdown .ui-dropdown-panel {left: 0 !important; min-width: 100%;}
.ui-toast .ui-toast-summary{padding: 0 !important;}
body .ui-dropdown-panel .ui-dropdown-items {padding: 18px !important; min-width: 200px;}
.ui-overlaypanel:before, .ui-overlaypanel:after{display: none;}
body .ui-overlaypanel{left: 20px !important; top: 60px !important;}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {padding: 7px !important; color: #0D2E51; font: 500 15px 'Roboto', sans-serif;}

/*  FORM  */

.input--checkbox {position: relative;}
.input--checkbox input{display: none;}
.input--checkbox label{display: block; padding-left: 25px; transition: all .2s ease-in-out; color: #888888; font: normal 15px 'Roboto', sans-serif;}
.input--checkbox label:before{display: block; height: 16px; width: 16px; border: 2px solid #455A64; content: ""; border-radius: 3px; position: absolute; top: -1px; left: 0; transition: all .2s ease-in-out;}
.input--checkbox label:after{display: block; height: 9px; width: 15px; background: transparent; opacity: 0; border-radius: 0; content: " "; border-top: 0 !important; border-right: 0 !important; border: 2px solid #14B88B; position: absolute; top: -1px; left: 4px; text-align: center; transition: all .2s ease-in-out; color: #222; font: bold 16px 'Roboto', sans-serif; transform: rotate(-48deg)}
.input--checkbox input:checked + label:after{opacity: 1;}
.input--checkbox input:checked + label:before{border-color: #222;}

/*  DATAS  */

.calendario-aqui{position: relative;}
.calendario-aqui p-calendar{position: absolute; top: 0; left: -10px; width: 84px; z-index: 9;}
.calendario-aqui p-calendar input{opacity: 0; width: 84px; margin-left: 9px; margin-top: -35px;}

.tem-certeza{background: rgba(255, 255, 255, .95); display: block; position: fixed; top: 0; left: 0; height: 100%; width: 100%; padding-top: 200px; z-index: 999;}

/*@media (max-width: 1600px) {*/
    /*.tabela-responsiva, .conteudo-internas, .topo-internas, .menu-lateral{zoom: .9;}*/
    /*.area-de-trabalho {left: 288px;}*/
/*}*/
/*@media (max-width: 1440px) {*/
    /*.tabela-responsiva, .conteudo-internas, .topo-internas, .menu-lateral{zoom: .7;}*/
    /*.botao-busca input {max-width: 130px;}*/
    /*.area-de-trabalho {left: 224px;}*/
/*}*/
