<div class="menu-lateral criar-aporte">
  <div class="topo dt">
    <div class="dt-c">
      <div class="nome-usuario" (click)="voltar()"><img src="../../assets/arrow-left.png"> Trocar senha</div>
    </div>
  </div>
  <div class="form-novo-aporte">
    <form action="" #form="ngForm" (submit)="enviar(form.value)">
      <input *ngIf="usuario.trocar_senha == 0" type="text" ngModel name="senha_atual" id="senha_atual" placeholder="Senha atual">
      <div *ngIf="usuario.trocar_senha == 0" class="mt20"></div>
      <input type="text" ngModel name="nova_senha" id="nova_senha" placeholder="Nova senha">
      <div class="mt20"></div>
      <input type="text" ngModel name="confirmar_nova_senha" id="confirmar_nova_senha" placeholder="Confirmar nova senha">
      <div class="mt20"></div>
      <input type="submit" value="Trocar senha" (click)="addSingle()">
    </form>
  </div>
</div>
