<div class="menu-lateral">
  <div class="topo dt">
    <div class="dt-c cursor-pointer">
        <img src="../../assets/logo-principal.png" alt="Logo London Invest">
    </div>
  </div>
  <div class="links-lateral">
    <div class="item" routerLink="initial" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Simulate' : 'Simulações'}}</div>
    <div class="item" routerLink="applications" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Applications' : 'Aportes'}}</div>
    <div class="item" routerLink="extract" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Extract' : 'Movimentações'}}</div>
    <div class="mt20"></div>
    <div class="separador-menu"></div>
    <div class="mt20"></div>
    <div class="item" routerLink="questions" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Questions' : 'Dúvidas frequentes'}}</div>
    <div class="item" routerLink="/change-password" routerLinkActive="ativo">{{usuario.pais == 1 ? 'Edit password' : 'Editar senha'}}</div>
    <div class="item" (click)="sair()">{{usuario.pais == 1 ? 'Logout' : 'Sair'}}</div>
    <!--<div class="item" routerLink="contact" routerLinkActive="ativo">Contato</div>-->
  </div>
</div>
<div class="area-de-trabalho">
  <router-outlet></router-outlet>
</div>
